<h1>Admin</h1>
<ul>
	<li><a href="/admin/creators">Creators</a></li>
	<li><a href="/admin/email">Emails</a></li>
</ul>

<h3>Utilities</h3>
<ul>
<li><a href="/admin/utils/hashPassword">Generate a password hash</a></li>
</ul>