<%
_locals.title = 'Pluribus';
_locals.noNav = true;
_locals.bodyClass = 'inverse signup-success';

%>
<link rel="stylesheet" href="/css/pages/prelaunch.css" />
<% /* CSS tweaks that need to be integrated back into master CSS */ %>
<link rel="stylesheet" href="/css/todo.css" />

<header>
	<figure class="logo">
		<img src="/images/ui/logo-white.svg" alt="Pluribus. Logo">
	</figure>
</header>
<div class="success-msg">
	<h1 class="display-2">Sit back and relax, your journey with us has just begun.</h1>
</div>
