<nav class="navbar-dash">
	<div class="splitter navbar" id="navbarSupportedContent">
		<div>
			<a class="navbar-brand" href="/">
				<img src="/images/ui/logo-black.svg" alt="Pluribus. Logo">
			</a>
			<div class="badge bg-primary me-3 fw-normal">Beta</div>
		</div>
		<div class="navbar-nav">
			<a href="/dashboard/search" class="text-decoration-none">Search</a>
			<!--button 
						class="btn btn-notify" 
						type="button" 
						data-newmsg = "true"
						data-bs-toggle="collapse" 
						data-bs-target="#notification-panel" 
						aria-label="Toggle notifications"
						aria-expanded="false" 
						aria-controls="notification-panel">

				<span class="visually-hidden">Toggle Notifications</span>
			</button-->
			<button 
						class="btn btn-toggler" 
						type="button" 
						data-bs-toggle="collapse" 
						data-bs-target="#dashboard-navigation" 
						aria-label="Toggle navigation"
						aria-expanded="false" 
						aria-controls="dashboard-navigation"
						>

				<span   class="visually-hidden">Toggle navigation</span>
			</button>
		</div>
	</div>
	
		<section id="notification-panel" class="notifications collapse">
		<div class="card">
			<h2 class="display-xxs">Notifications</h2>

			<div class="notification">
				<figure>
					<a href="#"> <!-- Link to commntor's profile -->
						<!-- Commentor's avatar -->
						<img src="/images/content/avatars/avatar-1.jpg" alt="Joe Rogan">
					</a>
				</figure>
				<div class="notification-content">
					<p> <!-- Comment (or opening snippet) -->
						Quam pellentesque etiam lectus neque, amet cum mus quam neque. Tellus lobortis eu eget tortor vulputate. Sem et, neque pharetra, imperdiet elit, in ultricies. Eget vitae ultrices volutpat enim, est viverra in elit pharetra.
					</p>
				</div>
			</div>

			<div class="notification">
				<figure>
					<a href="#">
						<img src="/images/content/avatars/avatar-2.jpg" alt="Megan Murphy">
					</a>
				</figure>
				<div class="notification-content">
					<p>Egestas tempus dui, mi dictum praesent sit interdum facilisi euismod. Vel fringilla orci sodales sed nisl, tincidunt arcu sit.</p>
				</div>
			</div>


		</div>
	</section>
	

</nav>