<% if(subscribable && !subscribable.stripeSubscriptionId) { %>
	<div class="card mb-4" style="border-radius:4px;overflow:hidden;border-color:var(--text-primary)">
		<div class="card-body" style="border-left:5px solid var(--text-primary)">
			<div>
				Ready to accept pledges from your supporters? <a href="<%- subscribeUrl %>">Subscribe now</a>.
			</div>
		</div>
	</div>
<% } %>