<%
_locals.title = 'Activate pledges';
_locals.noSidenav = true;
%>
<link rel="stylesheet" href="/css/steps.css" />

<div id="step3" class="step rounded border bg-white p-4 mb-5">
	<form method="post" action="/dashboard/execute-policy/execute">
		<input type="hidden" name="reason" value="<%= reason %>" />
		<h5 class="heading-md-weak text-strong">Step 3 of 3</h5>
		<h1 class="display-xxs text-strong">Review your protection plan</h1>
		<p>
			Please review the message your supporters will see.
		</p>
		<div class="rounded fill-neutral-light p-3" style="white-space:pre-wrap;"><%= reason %></div>

		<div class="my-3 text-end">
			<a href="#" id="backBtn" class="btn btn-outline btn-lg me-2">Back</a>
			<button type="submit" id="continueBtn" class="btn btn-primary btn-lg">Activate pledges</button>
		</div>
	</form>
</div>

<script>
	function getElements(ids) {
		for(var id of ids) {
			window[id] = document.getElementById(id);
		}
	}

	getElements('step3', 'backBtn', 'continueBtn');

	backBtn.addEventListener('click', function(e) {
		e.preventDefault();
		history.go(-1);
	});

	document.querySelector('form').addEventListener('submit', function(e) {
		document.body.classList.add('page-loading');
	});
</script>
