<%
_locals.title = 'Execute policy';
_locals.noSidebar = true;
%>
<link rel="stylesheet" href="/css/steps.css" />
<div class="row justify-content-center">
	<div class="steps col-lg-8 col-xl-6">

		<div id="step2" class="step rounded border bg-white p-5 mb-5 text-center">
			<h1 class="display-xxs text-strong">Your policy has been executed</h1>
			<p>You should receive an email shortly with next steps. </p>

			<svg width="174" height="107" viewBox="0 0 174 107" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M88.642 91.2068C119.392 91.2068 144.32 76.2501 144.32 57.8002C144.32 39.3502 119.392 24.3936 88.642 24.3936C57.8921 24.3936 32.9644 39.3502 32.9644 57.8002C32.9644 76.2501 57.8921 91.2068 88.642 91.2068Z" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
				<path d="M88.642 91.2068C107.092 91.2068 122.049 76.2501 122.049 57.8002C122.049 39.3502 107.092 24.3936 88.642 24.3936C70.192 24.3936 55.2354 39.3502 55.2354 57.8002C55.2354 76.2501 70.192 91.2068 88.642 91.2068Z" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
				<path d="M88.7083 41.9943C94.1651 41.9466 99.6379 37.3647 104.252 28.2646" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
				<path d="M73.0059 28.2812C77.6195 37.3813 83.0923 41.9632 88.5651 41.995" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
				<path d="M88.5492 73.6064C83.0923 73.6542 77.6354 78.2201 73.0059 87.3202" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
				<path d="M104.267 87.3361C99.6538 78.2201 94.1811 73.6383 88.6924 73.6064" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
				<path d="M88.626 41.995V24.3994" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
				<path d="M88.626 91.202V73.6064" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
				<path d="M122.051 57.793H104.44" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
				<path d="M72.8282 57.793H55.2327" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
				<path d="M118.17 73.4308C117.804 74.1308 117.406 74.8149 116.992 75.4671C109.521 74.4633 102.001 73.8632 94.4649 73.6694C92.6831 73.6217 90.8853 73.6058 89.0876 73.6058H88.5465C86.924 73.6058 85.3012 73.6217 83.6784 73.6694C75.8802 73.8773 68.0995 74.5147 60.3714 75.5785C59.9161 74.8845 59.4966 74.1677 59.1145 73.4308C68.2464 68.7853 72.8284 63.2967 72.8284 57.792C72.8284 52.3033 68.2464 46.8146 59.1145 42.1692C59.4806 41.4692 59.8783 40.7851 60.2918 40.1329C67.7582 41.1314 75.273 41.7262 82.8035 41.9147C84.6011 41.9624 86.399 41.9943 88.1966 41.9943H88.7058C90.3285 41.9943 91.9672 41.9624 93.6057 41.9147C101.404 41.7207 109.185 41.0886 116.913 40.0215C117.368 40.7155 117.788 41.4323 118.17 42.1692C109.022 46.7988 104.44 52.3033 104.44 57.792C104.44 63.2807 109.022 68.7853 118.17 73.4308Z" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
				<path d="M84.8329 45.8281H91.3631L89.1867 56.7121H93.5394L88.098 69.7725V59.9772H83.7441L84.8329 45.8281Z" fill="#5257F7"/>
			</svg>
				

			<div class="my-3">
				<a href="/dashboard" class="btn btn-primary btn-lg bg-black w-100">Take me home</a>
			</div>
		</div>

	</div><!-- end main column -->

</div><!-- end .row -->
