<%
_locals.title = 'Execute policy';
_locals.noSidebar = true;
%>
<link rel="stylesheet" href="/css/steps.css" />
<div class="row justify-content-center">
	<div class="steps col-lg-8 col-xl-6">

		<div id="step2" class="step rounded border bg-white p-4 mb-5">
			<h5 class="heading-md-weak text-strong">Step 3 of 3</h5>
			<h1 class="display-xxs text-strong">Review your policy</h1>
			<p>
				Please review the alert your donors will receive upon activation.
			</p>
<div class="rounded fill-neutral-light p-3" style="white-space:pre-wrap;">Hello,

<%= creator.name %> has elected to execute the policy you have contributed to on the following grounds: 
	
<b><%= reason %></b>
		
As per our policy, these transactions are approved by default barring substantial backlash from those who have pledged. 
		
Does this meet the criteria you agreed to when you donated? If not and you feel this transaction violates the agreement, please explain below. If more than half of your fellow donors agree with you, the claim will be placed on hold until an internal review is completed.
		
Please note: The only way we can provide creators with the security we all want them to have is by cultivating an atmosphere of trust, and this is not the time to dwell on trivialities. If you vote “no”, it must be due to a clear cut case of your trust having been violated, and will only have an effect if the majority of your fellow supporters are in agreement with you.
</div>

			<div class="my-3 text-end">
				<a href="#" id="backBtn" class="btn btn-outline-dark btn-lg">Back</a>
				<button id="continueBtn" class="btn btn-primary btn-lg">Execute policy</button>
			</div>
		</div>

	</div><!-- end main column -->

</div><!-- end .row -->

<script>
	function getElements(ids) {
		for(var id of ids) {
			window[id] = document.getElementById(id);
		}
	}

	var els = getElements('step3', 'backBtn', 'continueBtn');

	backBtn.addEventListener('click', function(e) {
		e.preventDefault();
		history.go(-1);
	});

	function toggleContinue() {
		continueBtn.disabled = !reason.value
	}

	continueBtn.addEventListener('click', function() {
		alert("This feature is not implemented yet.");
	})

</script>
