<%
_locals.title = 'Guilds';
_locals.nav = 'guilds';
%>

<header>
	<h1 class="display-xxs">Guilds</h1>
</header>

<div class="card mb-3">
	<div class="card-body">
		<p class="body-sm-weak text-medium">
			Pluribus is proud to be the first service enabling any creator to proactively crowdfund a safety net to hedge against a 
			potential cancellation. However, not all creators are in a situation where crowdfunding a safety net individually will 
			provide as much benefit as they would like. This is where "Guilds" come in. 
		</p>
		<p class="body-sm-weak text-medium">
            You may check the "<a href="/how-it-works">How it Works</a>" page for additional detail, but the basics are that guilds 
			allow supporters to pledge to each member within them simultaneously; not to share, to each receive individually (ex: A 
			$10 Distributed Pledge made to the guild will provide $10 to each of its members). To dispel any anxiety in early 
			supporters of potential insufficient participation and feel secure they will be the beginning of an adequate risk pool, 
			their Distributed Pledges operate on <a href="https://en.wikipedia.org/wiki/Assurance_contract" target="_blank">Assurance 
			Contracts</a> that ensure their pledge only goes live once a certain amount of fellow supporters have joined them (i.e. 
			their pledge might as well not exist until it’s part of a meaningfully large Protection Plan). We will return to this 
			"activation threshold" after quickly wrapping up what you need to know.  
		</p>
		<p class="body-sm-weak text-medium">
			Completing this process will create the guild. You may invite a new member by sending them an invite link to the guild. 
			You will then be emailed to see a prompt to accept them. Once there are multiple members, they will all need to approve 
			a prospective member. Until then, their status will be pending. Potential supporters will then be able to pledge to a 
			given creator individually or through the guild.
		</p>
		<p class="body-sm-weak text-medium">
			As the core function of the guild is simply generating more protection for its members, the criteria for creators to 
			access funds raised through the guild is whatever they have established for themselves. There is no need to establish a 
			"group cancellation scenario," but members are free to choose a uniform scenario if they choose to. They’re also free 
			to request a change in a prospective member's criteria as a condition for joining if they feel its terms are too loose.
		</p>
		<p class="body-sm-weak text-medium">
			The last major part of guilds for you to know is that while individual claims are adjudicated by a creator’s supporters, 
			claims to access guild funds are adjudicated within the guild itself. Audiences will not be forgiving if they perceive 
			bad behavior, and neither will other guild members if your actions jeopardize their protection or reputation, so honesty 
			is really the best policy.
		</p>
		<p class="body-sm-weak text-medium">
			As for the "activation threshold" mentioned earlier, let’s set it up right now and your guild will be established. What 
			is the minimum amount of pledge money you want to raise before they all go live? (This more or less means the amount 
			where you would actually feel you have a real protection plan behind you.)
		</p>
        <a href="/guilds/new" class="btn btn-primary mb-1" id="addGuildBtn">Create Guild</a>
    </div>
</div>

<% if(publicGuilds.length > 0) { %>
<style>
	/* Temporary styling - delete once John has done it properly ! */
	.result {
		display: flex;
		padding: 16px;
	}
	.result:hover {
		background-color: rgba(0,0,0,0.05);
	}
	.result figure {
		margin: 0 24px 0 0;
		width: 52px;
		height: 52px;
		overflow: hidden;
	}

	.result > div a {
		display: block;
		font-size: var(--heading-sm);
    	font-weight: 500;
	}

</style>
<div class="card">
    <div class="card-body">
        <p class="body-sm-weak text-medium">&hellip; otherwise, consider joining one of these guilds:</p>
    <% publicGuilds.forEach(function(guild) { %>
        <div class="border rounded bg-white mt-4 p-3">
            <a class="result text-decoration-none rounded" href="/guilds/<%= guild.id %>">
                <figure class="border rounded-circle">
                    <img src="<%= guild.photo != null ? ('/images/uploads/guilds/' + guild.id + '/' + guild.photo) : '/images/ui/avatar-unknown.svg' %>" />
                </figure>
                <div>
                    <div><%= guild.name %></div>
                    <% if (guild.about) { %><div class="result-about fw-normal"><%= truncate(guild.about, 50) %></div><% } %>
                </div>
            </a>
        </div>
    <% }) %>
    </div>
</div>

<% } %>