<%
_locals.title = 'Guilds';
_locals.nav = 'guilds';
%>

<header>
	<h1 class="display-xxs">Guilds</h1>
</header>

<div class="card">
	<div class="card-body">
        <p class="body-sm-weak text-medium">A guild can &hellip;</p>
        <a href="/guilds/new" class="btn btn-primary mb-1" id="addGuildBtn">Create Guild</a>
    </div>
</div>