<h1>Dashboard</h1>

<% if(following && following.length) { %>
	<h3>Following</h3>
	<ul>
	<% following.forEach(follow => { %>
		<li><a href="/creators/<%= follow.creatorId %>"><%= follow.Creator.name %></a></li>
	<% }); %>
	</ul>
<% } else { %>
	<p>You're not following anyone yet. Followed creators will show up here once you do.</p>
<% } %>

<% if(!authUser.isCreator) { %>
	<a href="/creators/new" class="btn btn-primary">Set up creator profile</a>
<% } %>