<h1 class="mb-3">Your policy</h1>

<div class="row">
	<div class="col-md-8">
		<div class="rounded border bg-white p-4">
			<div class="white-space:pre;"><%= policy %></div>
		</div>
	</div><!-- end main column -->

	<div class="col">
		<div class="rounded border bg-white p-4">
			<p></p>
		</div>
	</div><!-- end sidebar -->
</div><!-- end .row -->
