<div class="card">
	<div class="card-body">
		<div class="alert alert-info">
			Your answer has been recorded. Thanks!
		</div>
	</div><!-- .card-body -->
</div><!-- .card -->


<%- contentFor('aside') %>
TODO: aside