<div class="card">
	<div class="card-body">
		<form action="/dashboard/policy-execution-response/<%= policyExecution.id %>/pay" method="POST">
			<button type="submit" class="btn btn-primary">Send $<%= pledge.amount %> to <%= creator.name %></button>
		</form>
	</div><!-- .card-body -->
</div><!-- .card -->
