<%
_locals.title = 'Subscription';
_locals.nav = 'subscription';
%>

<header>
	<h1 class="display-xxs">Subscription</h1>
</header>

<div class="card">
	<div class="card-body">
		TODO: Monthly subscription

	</div><!-- .card-body -->
	
</div><!-- .card -->

<%- contentFor('aside') %>
<svg width="36" height="36" class="text-strong"><use href="/images/ui/icons.svg#heart" /></svg>
<h3 class="body-sm-medium text-strong mt-0">Your pledge history</h3>
<div class="mt-0">Thanks for your support, by pledging you play a part in creating a social safety net.</div>