<%
_locals.title = 'Creator details';
%>

<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="rounded border bg-white p-5 my-4">
			<h1 class="display-xxs">Interesting. Tell us more.</h1>
			<form method="post">
				<div class="mb-3">
					<label class="form-label">Your name</label>
					<input class="form-control" type="text" name="name" value="<%= postedValues.name %>" />
					<small class="form-text text-muted">The name that your followers know you by</small>
					<%- validationMessage('name') %>
				</div>
				<div class="mb-3">
					<label class="form-label">About you</label>
					<textarea class="form-control" name="about"><%= postedValues.about %></textarea>
					<small class="form-text text-muted">Please describe what you do</small>
					<%- validationMessage('about') %>
				</div>
				<button class="btn btn-primary">Continue</button> or <a href="/creators/new/categories">Go back</a>
			</form>
		</div>
	</div>
</div>