<div class="wrapper-half main-content" role="main">
	<div class="form-credentials card">
		<div class="card-body">
			<div class="flow text-center">
				<h1 class="text-strong">In dui tincidunt integer etiam.</h1>

				<p>Lectus est sit nulla dolor netus eget dolor malesuada.</p>

				<svg width="468" height="107" viewBox="0 0 468 107" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M235.142 91.2068C265.891 91.2068 290.819 76.2501 290.819 57.8002C290.819 39.3502 265.891 24.3936 235.142 24.3936C204.392 24.3936 179.464 39.3502 179.464 57.8002C179.464 76.2501 204.392 91.2068 235.142 91.2068Z" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
					<path d="M235.142 91.2068C253.592 91.2068 268.549 76.2501 268.549 57.8002C268.549 39.3502 253.592 24.3936 235.142 24.3936C216.692 24.3936 201.735 39.3502 201.735 57.8002C201.735 76.2501 216.692 91.2068 235.142 91.2068Z" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
					<path d="M235.208 41.9943C240.665 41.9466 246.138 37.3647 250.751 28.2646" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
					<path d="M219.506 28.2812C224.12 37.3813 229.592 41.9632 235.065 41.995" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
					<path d="M235.049 73.6064C229.592 73.6542 224.135 78.2201 219.506 87.3202" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
					<path d="M250.767 87.3361C246.154 78.2201 240.681 73.6383 235.192 73.6064" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
					<path d="M235.126 41.995V24.3994" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
					<path d="M235.126 91.202V73.6064" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
					<path d="M268.551 57.793H250.939" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
					<path d="M219.328 57.793H201.732" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
					<path d="M264.669 73.4308C264.304 74.1308 263.906 74.8149 263.492 75.4671C256.021 74.4633 248.501 73.8632 240.965 73.6694C239.183 73.6217 237.385 73.6058 235.587 73.6058H235.046C233.424 73.6058 231.801 73.6217 230.178 73.6694C222.38 73.8773 214.599 74.5147 206.871 75.5785C206.416 74.8845 205.996 74.1677 205.614 73.4308C214.746 68.7853 219.328 63.2967 219.328 57.792C219.328 52.3033 214.746 46.8146 205.614 42.1692C205.98 41.4692 206.378 40.7851 206.792 40.1329C214.258 41.1314 221.773 41.7262 229.303 41.9147C231.101 41.9624 232.899 41.9943 234.696 41.9943H235.206C236.828 41.9943 238.467 41.9624 240.105 41.9147C247.904 41.7207 255.685 41.0886 263.413 40.0215C263.868 40.7155 264.287 41.4323 264.669 42.1692C255.522 46.7988 250.94 52.3033 250.94 57.792C250.94 63.2807 255.522 68.7853 264.669 73.4308Z" stroke="#1D1D23" stroke-width="3" stroke-miterlimit="10"/>
					<path d="M231.333 45.8281H237.863L235.687 56.7121H240.039L234.598 69.7725V59.9772H230.244L231.333 45.8281Z" fill="#5257F7"/>
				</svg>

				<div class="row">
					<div class="col-lg-6">
						<a href="/creators/<%= creator.id %>" class="btn btn-outline btn-lg mx-1 w-100">Creator's profile</a>
					</div>
					<div class="col-lg-6">
						<a href="/dashboard/pledges" class="btn btn-outline btn-lg w-100">View your pledges</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>