<footer class="inverse">
    <div class="container foot-flex">
        <div class="logo-tag">
            <div class="branding">
                <a href="/">
                    <img src="/images/ui/logo-white.svg" alt="Pluribus. logo">
                </a>
                <p>Networked security against networked&nbsp;threats</p>
                <ul class="social-list">
                    <li><a href="https://twitter.com/becomepluribus" target="_blank"><span class="visually-hidden">Twitter</span></a></li>
                    <li><a href="https://discord.gg/ksDWHBj6bH" target="_blank"><span class="visually-hidden">Discord</span></a></li>
                    <li><a href="https://t.me/cnxins" target="_blank"><span class="visually-hidden">Telegram</span></a></li>
                    <li><a href="https://becomepluribus.substack.com/" target="_blank"><span class="visually-hidden">Substack</span></a></li>
                    <li><a href="https://www.youtube.com/channel/UCYnknwPD8oWaO7JJXGHNqWA" target="_blank"><span class="visually-hidden">YouTube</span></a></li>
                </ul>
            </div>
        </div>
        <div class="foot-links">
            <div></div>
            <div>
                <h3>Menu</h3>
                <ul>
                    <li><a href="/how-it-works">How It Works</a></li>
                    <li><a href="/faq/creators">Creator FAQ</a></li>
                    <li><a href="/faq/supporters">Supporter FAQ</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                    <%#<li><a href="/roadmap">Roadmap</a></li>%>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <p class="body-xs copyright">&copy; 2024 Pluribus. All rights reserved</p>
    </div>
</footer>