<footer class="inverse">
    <div class="container foot-flex">
        <div class="logo-tag">
            <div class="branding">
                <a href="index.html">
                    <img src="/images/ui/logo-white.svg" alt="Pluribus. logo">
                </a>
                <p>Crowdfunding safety nets for a new era</p>
                <ul class="social-list">
                    <li><a href="facebook.com" target="_blank"><span class="visually-hidden">Facebook</span></a></li>
                    <li><a href="twitter.com" target="_blank"><span class="visually-hidden">Twitter</span></a></li>
                    <li><a href="instagram.com" target="_blank"><span class="visually-hidden">Instagram</span></a></li>
                    <li><a href="github.com" target="_blank"><span class="visually-hidden">Github</span></a></li>
                </ul>
            </div>
        </div>
        <div class="foot-links">
            <div>
                <h3>How It Works</h3>
                <ul>
                    <li><a href="#">Creators</a></li>
                    <li><a href="#">Supporters</a></li>
                </ul>
            </div>
            <div>
                <h3>About Us</h3>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div>
                <h3>Support</h3>
                <ul>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Guides</a></li>
                </ul>
            </div>
            <div>
                <h3>Legal</h3>
                <ul>
                    <li><a href="#">Claim</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <p class="body-xs copyright">&copy; 2022 Pluribus. All rights reserved</p>
    </div>
</footer>