<%
console.log(locals);
%>
<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container">

		<a class="navbar-brand" href="/">Pluribus</a>

		<div class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item"><a href="/creators" class="nav-link <%= locals.nav == 'creators' ? 'active' : '' %>">Browse Creators</a></li>
			</ul>
		</div>

	</div>
</nav>