<%
_locals.title = "About us";
_locals.nav = 'about';
%>
<div class="container my-4">
	<div class="row">
		<div class="col-lg-8 body-md-weak">
			<h1 class="display-sm">About us</h1>
			<p>
				Pluribus was born from a group of people watching Cancel Culture worsen over time and
				concluding we must succeed where others have failed. The Pluribus team found each other through
				channels committed to finding ways out of our collective predicament, and having independently
				observed many proposed solutions to Cancel Culture falter, began working together to get to the
				root of the problem in the Winter of 2022 before formally starting development in March. 
			</p>
			<p>
				For further elaboration on why we believe Pluribus is essential, here are several media appearances
				as well as a Substack series articulating the rationale of the project in more detail:
			</p>


			<h3 class="display-xxs mt-5">Presentation on the Stoa</h3>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/aa2xaJi8Btg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


			<h3 class="display-xxs mt-5">Interview with founder of Exit Group, Bennett&rsquo;s Phylactery (Twitter <a href="https://twitter.com/extradeadjcb">@extradeadjcb</a>)</h3>
			<iframe title="EXIT Podcast" allowtransparency="true" height="315" width="100%" style="border: none; min-width: min(100%, 430px);" scrolling="no" data-name="pb-iframe-player" src="https://www.podbean.com/player-v2/?i=6k9ax-c64c96-pbblog-playlist&share=1&download=1&fonts=Arial&skin=f6f6f6&font-color=auto&rtl=0&logo_link=&btn-skin=666666&size=315" allowfullscreen=""></iframe>


			<h3 class="display-xxs mt-5">Substack, “American Alchemy”</h3>
			<ul>
				<li><a href="https://harrybergeron.substack.com/p/slightly-reduce-fear-and-you-win">Part 1- Slightly Reduce Fear and You Win Back the West, Part 1</a></li>
				<li><a href="https://harrybergeron.substack.com/p/slightly-reduce-fear-and-you-win-c97">Part 2- Slightly Reduce Fear and You Win Back the West, Part 2</a></li>
				<li><a href="https://harrybergeron.substack.com/p/why-im-doing-this">Part 3- Why I&rsquo;m Doing This</a></li>
				<li><a href="https://harrybergeron.substack.com/p/evolutionary-opportunities-and-fairy">Part 4- Evolutionary Opportunities and Fairy Tales During Social Collapse</a></li>
				<li><a href="https://harrybergeron.substack.com/p/the-inevitable-consequences-of-defending">Part 5- The Inevitable Consequences of Defending Emergent Leaders</a></li>
				<li><a href="https://harrybergeron.substack.com/p/escape-velocity-from-self-destruction">Part 6- Escape Velocity From Self-Destruction</a></li>
			</ul>

		</div>
	</div>
	
</div>