<%
_locals.title = "About us";
_locals.nav = 'about';
%>
    <header class="promo-block inverse about-intro">
            <figure class="text-center about">
                <img src="images/content/symbols/AboutUs.svg" alt="">
            </figure>
        <div class="wrapper button-right" data-cols='8'>
            <h1 class="display-lg">About us</h1>
            <p class="body-lg-weak">Pluribus was born from a group of Americans tired of watching their country’s innate vibrancy and dynamism begin to deaden and fade under a culture of fear imposed upon the majority of its admirable citizens by a handful of its most despicable and resolved to succeed in addressing the Cancel Culture issue where so many others have failed. </p>
            <p class="body-lg-weak">For further elaboration on why we believe Pluribus is essential, here are several media appearances as well as a Substack series articulating the rationale of the project in more detail:</p>
        </div>
    </header>


    <section class="wrapper promo-block flow body-md-weak">
        <h2 class="display-sm">Media appearances</h2>
        <div class="video-holder">
            <div class="video_wrapper">
                <iframe src="https://www.youtube.com/embed/aa2xaJi8Btg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6WkORjmcv1zG27ZjwFthvz?utm_source=generator" title="Spotify embedded player" width="100%" height="250" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </section>


    <section class="wrapper promo-block flow body-md-weak">
        <h2 class="display-sm">We see &#8212; we listen</h2>
        <div class="video-holder">
            <div class="video_wrapper">
                <iframe src="https://www.youtube.com/embed/NeKlnO6aWzA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>




	<section class="promo-block inverse">
        <div class="wrapper">
            <header>
                <h2 class="display-lg" data-icon="substack">Substack: American Alchemy</h2>
                <p class="display-xxs subtitle">Attempting To Build Greatness Out Of Garbage</p>
                <p class="body-xl-weak creator">By: <a href="https://harrybergeron.substack.com">Harry Bergeron</a></p>
            </header>
            <div class="card-grid-3">
                <div class="light card">
                    <figure class="card-graphic">
                        <img src="/images/content/article-1-preview.png" class="card-img-top" alt="...">                    
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">Slightly Reduce Fear and You Win Back the West (Pt 1 of 2)</h3>
                        <p>Why Tweaking The Incentives Behind Conformity is Our Way Out</p>
                        <a href="https://harrybergeron.substack.com/p/slightly-reduce-fear-and-you-win" class="card-link">Read More</a>
                    </div>
                </div>
                <div class="light card">
                    <figure class="card-graphic">                    
                        <img src="/images/content/article-2-preview.png" class="card-img-top" alt="...">
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">Slightly Reduce Fear and You Win Back the West (Pt 2 of 2)</h3>
                        <p>Overview of a Potential Anti-Social Credit System aka 'Civil Support Network'</p>
                        <a href="https://harrybergeron.substack.com/p/slightly-reduce-fear-and-you-win-c97" class="card-link">Read More</a>
                    </div>
                </div>
                <div class="light card">
                    <figure class="card-graphic">                    
                        <img src="https://substackcdn.com/image/fetch/w_336,h_255,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Fa3eb4208-3f35-4fce-9570-2d408dd2808a_612x245.jpeg" class="card-img-top" alt="...">
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">Why I’m Doing This</h3>
                        <p>Cancellation as the Ur-Problem</p>
                        <a href="https://harrybergeron.substack.com/p/why-im-doing-this" class="card-link">Read More</a>
                    </div>
                </div>
                <div class="light card">
                    <figure class="card-graphic">
                        <img src="https://substackcdn.com/image/fetch/w_336,h_255,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F8e587732-35c7-429a-83da-718bcd1132f8_453x216.jpeg" class="card-img-top" alt="...">
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">Evolutionary Opportunities and Fairy Tales During Social Collapse</h3>
                        <p>The Upside of Tragedy</p>
                        <a href="https://harrybergeron.substack.com/p/evolutionary-opportunities-and-fairy" class="card-link">Read More</a>
                    </div>
                </div>
                <div class="light card">
                    <figure class="card-graphic">
                        <img src="https://substackcdn.com/image/fetch/w_336,h_255,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F1b4bf88d-38c0-4615-8833-cbd1b0fc0650_1600x900.png" class="card-img-top" alt="...">
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">The Inevitable Consequences of Defending Emergent Leaders</h3>
                        <p>Why the Best Offense is a Good Defense</p>
                        <a href="https://harrybergeron.substack.com/p/the-inevitable-consequences-of-defending" class="card-link">Read More</a>
                    </div>
                </div>
                <div class="light card">
                    <figure class="card-graphic">
                        <img src="https://substackcdn.com/image/fetch/w_336,h_255,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Febc1087a-23fd-41f6-bffa-591955c50786_1732x1732.jpeg" class="card-img-top" alt="...">
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">Escape Velocity From Self-Destruction</h3>
                        <p>A War Between Cowardice & Agency in Peacetime</p>
                        <a href="https://harrybergeron.substack.com/p/escape-velocity-from-self-destruction" class="card-link">Read More</a>
                    </div>
                </div>
                <div class="light card">
                    <figure class="card-graphic">
                        
                    <img src="https://substackcdn.com/image/fetch/w_336,h_255,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F0f64f0ea-7617-488c-a23a-14f48e1c0002_299x168.jpeg" class="card-img-top" alt="...">
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">A Theory of Moral Equilibrium</h3>
                        <p>Not New, But Necessary</p>
                        <a href="https://harrybergeron.substack.com/p/a-theory-of-moral-equilibrium" class="card-link">Read More</a>
                    </div>
                </div>
                <div class="light card">
                    <figure class="card-graphic">
                        
                    <img src="https://substackcdn.com/image/fetch/w_336,h_255,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Fc031b819-188d-47a6-b987-a8df90ce4f67_830x510.webp" class="card-img-top" alt="...">
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">The Militarized Network State</h3>
                        <p>And Potential Interactions with a Decaying Global Leviathan</p>
                        <a href="https://harrybergeron.substack.com/p/the-militarized-network-state" class="card-link">Read More</a>
                    </div>
                </div>
                <div class="light card">
                    <figure class="card-graphic">
                        
                    <img src="https://substackcdn.com/image/fetch/w_848,c_limit,f_webp,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F09e2d875-d51c-4479-8ff5-dc4a67147d58_782x530.png" class="card-img-top" alt="...">
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">Palmer Luckey Will Never Be Successful</h3>
                        <p>I Didn’t Make the Attention Economy, I Just Live in It</p>
                        <a href="https://harrybergeron.substack.com/p/palmer-luckey-will-never-be-successful" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<%- contentFor('head') %>
    <meta name="description" content="Pluribus was born from a group of Americans tired of watching their country’s innate vibrancy and dynamism begin to deaden and fade under a culture of fear imposed upon the majority of its admirable citizens by a handful of its most despicable and resolved to succeed in addressing the Cancel Culture issue where so many others have failed." />
