<%
_locals.title = "Supporter FAQs";
_locals.nav = 'how-it-works';
%>

<section class="promo-block inverse">
    <div class="wrapper" data-cols="8">
        <h1 class="display-xs">Empower creators and represent your voice with Pluribus.</h1>
        <p>Your favorite creators deliver more than just information. It’s their values and personality that make their content come alive. That’s why cancellation threatens creativity. It promotes fear instead of authenticity. Self-censorship instead of free expression. Stagnation instead of growth.</p>
        <p>But with Pluribus, your financial pledge gives a creator the confidence to forge ahead – the freedom to be human, despite the risk. Yet Pluribus is about more than financial support. It’s about strengthening a community whose values outlive fleeting trends. You provide the security creators need, they provide the authentic content you want.</p>
    </div>
</section>

    <div class="wrapper" data-cols="8">
        <header class="flow mt-5">
            <h2 class="display-xxs">Supporter frequently asked questions</h2>
        </header>



        <div class="accordion" id="accordionFAQs">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#goFundMe" aria-expanded="true" aria-controls="goFundMe">
                        So, is this like a GoFundMe alternative?
                    </button>
                </h2>
                <div id="goFundMe" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>No, GoFundMe is only for crowdfunding after-the-fact. While Pluribus will also layer in responsive crowdfunding soon after it launches, the difference is we allow you to crowdfund before you need it- what we call proactive crowdfunding.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whyPluribus" aria-expanded="false" aria-controls="whyPluribus">
                        Why “Pluribus”?
                    </button>
                </h2>
                <div id="whyPluribus" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>Pluribus is of course a nod to the US Motto of E pluribus unum or "Out of Many, One”. However, by itself it means “More”. More as in there are more people that want to hear people’s opinions and see their talents flourish than those who wish to silence or damage them. A severely unwell and numerically tiny amount of people has managed to run rings around the rest of the population via their control of institutions and the tools those institutions provide. Luckily, new institutions and tools are coming to the fore. This is one of them. There are more of us and it is time to start acting like it.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <section class="newsletter bg-neutral light">
        <div class="wrapper">
            <div class="columns splitter">
                <div class="content-holder">
                    <h2 class="heading-xl-strong">Sign up for our newsletter</h2>
                    <p class="body-xs-weak">There's always something new happening at Pluribus.</p>
                </div>
                <div class="form-holder">
                    <form action="/newsletter" method="post">
                        <div class="columns">
                            <input type="text" name="email" class="form-control" placeholder="Enter email address" aria-label="Enter email address">
                            <button class="btn btn-solid">Notify Me</button>
                        </div>
                        <p class="body-xs-weak text-center mt-2">We care about the protection of your data. Read our Privacy policy.</p>
                    </form>
                </div>
            </div>
        </div>
    </section>
