<%
_locals.title = "Supporter FAQs";
_locals.nav = 'how-it-works';
%>

<section class="promo-block inverse">
    <div class="wrapper" data-cols="8">
        <h1 class="display-xs">Empower creators and represent your voice with Pluribus.</h1>
        <p>Your favorite creators deliver more than just information. It’s their values and personality that make their content come alive. That’s why cancellation threatens creativity. It promotes fear instead of authenticity. Self-censorship instead of free expression. Stagnation instead of growth.</p>
        <p>But with Pluribus, your financial pledge gives a creator the confidence to forge ahead – the freedom to be human, despite the risk. Yet Pluribus is about more than financial support. It’s about strengthening a community whose values outlive fleeting trends. You provide the security creators need, they provide the authentic content you want.</p>
    </div>
</section>

    <div class="wrapper" data-cols="8">
        <header class="flow mt-5">
            <h2 class="display-xxs">Supporter frequently asked questions</h2>
        </header>



        <div class="accordion" id="accordionFAQs">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#item01" aria-expanded="true" aria-controls="item01">Lorem ipsum dolor sit amet</button>
                </h2>
                <div id="item01" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio ad similique accusamus nulla provident explicabo dolorum asperiores animi iste impedit eveniet a nam quae vitae libero ducimus totam excepturi cumque hic corporis illum rerum, minus earum? Enim cumque similique, consequatur.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#item02" aria-expanded="true" aria-controls="item02">Lorem ipsum dolor sit amet</button>
                </h2>
                <div id="item02" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio ad similique accusamus nulla provident explicabo dolorum asperiores animi iste impedit eveniet a nam quae vitae libero ducimus totam excepturi cumque hic corporis illum rerum, minus earum? Enim cumque similique, consequatur.</p>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#item03" aria-expanded="true" aria-controls="item03">Lorem ipsum dolor sit amet</button>
                </h2>
                <div id="item03" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio ad similique accusamus nulla provident explicabo dolorum asperiores animi iste impedit eveniet a nam quae vitae libero ducimus totam excepturi cumque hic corporis illum rerum, minus earum? Enim cumque similique, consequatur.</p>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#item04" aria-expanded="true" aria-controls="item04">Lorem ipsum dolor sit amet</button>
                </h2>
                <div id="item04" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio ad similique accusamus nulla provident explicabo dolorum asperiores animi iste impedit eveniet a nam quae vitae libero ducimus totam excepturi cumque hic corporis illum rerum, minus earum? Enim cumque similique, consequatur.</p>
                    </div>
                </div>
            </div>
            


        </div>
    </div>

    <section class="newsletter bg-neutral light">
        <div class="wrapper">
            <div class="columns splitter">
                <div class="content-holder">
                    <h2 class="heading-xl-strong">Sign up for our newsletter</h2>
                    <p class="body-xs-weak">There's always something new happening at Pluribus.</p>
                </div>
                <div class="form-holder">
                    <form action="/newsletter" method="post">
                        <div class="columns">
                            <input type="text" name="email" class="form-control" placeholder="Enter email address" aria-label="Enter email address">
                            <button class="btn btn-solid">Notify Me</button>
                        </div>
                        <p class="body-xs-weak text-center mt-2">We care about the protection of your data. Read our Privacy policy.</p>
                    </form>
                </div>
            </div>
        </div>
    </section>
