<%
_locals.title = "How it works";
_locals.nav = 'how-it-works';
%>
<div class="container my-4">
	<div class="row">
		<div class="col-lg-8 body-md-weak">
			<h2 class="heading-xl-medium text-primary">Frequently Asked Questions</h2>
			<h1 class="display-sm">Creator FAQ</h1>
			<h3 class="display-xxs mt-5" id="gofundme">So is this like a conservative GoFundMe?</h3>
			<p>
				No, GoFundMe is only for crowdfunding after-the-fact. While Pluribus will also layer in <i>responsive crowdfunding</i>
				soon after it launches, the difference is we allow you to crowdfund before you need it &mdash; what we call <i>proactive
				crowdfunding</i>.
			</p>
			<p>
				Also, we do not align ourselves ideologically &mdash; one, it puts a target on our back sooner than it needs to be, and two,
				we really do just care about what cancel culture does, not who&rsquo;s doing it. Obviously the victims won&rsquo;t be
				ideologically split 50/50, but if there was a right-wing coup tomorrow and they started crushing freedom of speech, we
				wouldn&rsquo;t change a thing.
			</p>

			<h3 class="display-xxs mt-5" id="already-set">I already have non-Woke income channels like SubscribeStar and Substack, so this seems redundant. I&rsquo;m all set, thanks.</h3>
			<p>
				This is new, so this mistake is understandable, but Pluribus doesn&rsquo;t compete with these services, it compliments
				them.
			</p>
			<p>
				The recurring payments model of the majority of “creator economy” revenue streams (including the two mentioned above) is
				inherently restricted to a high-interest, low-volume audience. Users can only spend $5/mo on so many people, so a
				certain portion of a creators audience that would otherwise pay for more content falls just shy of the interest or
				budget threshold necessary to join a given creators income stream. However, the option to make a one-time pledge to a
				creator for an unspecified time in the future that may not even occur allows for much greater flexibility. By introducing
				this option, Pluribus increases the percentage of a creator&rsquo;s audience that can be monetized.
			</p>

			<h3 class="display-xxs mt-5" id="you-cancel">What happens if <i>you</i> get Cancelled?</h3>
			<p>
				We&rsquo;ve known the clock will be ticking for mainstream service providers from day one, which is why we&rsquo;ve
				spent dozens if not hundreds of hours preparing multiple layers of backup options for each chokepoint that powerful
				forces can exert pressure on, including “un-cancellable” tech that has not yet matured but we are keeping our eye on
				to make the switch when that becomes possible. We&rsquo;ve learned from the experiences of other companies and fully
				understand that being able to survive coordinated attacks is mandatory &mdash; so we will. 
			</p>

			<h3 class="display-xxs mt-5" id="why-the-name">Why “Pluribus”?</h3>
			<p>
				Pluribus is of course a nod to the US Motto of E pluribus unum or "Out of Many, One”. However, by itself it means
				“More”. More as in there are more people that want to hear people&rsquo;s opinions and see their talents flourish
				than those who wish to silence or damage them. A severely unwell and numerically tiny amount of people has managed
				to run rings around the rest of the population via their control of institutions and the tools those institutions
				provide. Luckily, new institutions and tools are coming to the fore. This is one of them. There are more of us and
				it is time to start acting like it.
			</p>
		</div>
	</div>
	
</div>