<%
_locals.title = "Supporter FAQs";
_locals.nav = 'how-it-works';
%>

<section class="promo-block inverse">
    <div class="wrapper" data-cols="8">
        <h1 class="display-xs">Empower creators and represent your voice with Pluribus.</h1>
        <p>Your favorite creators deliver more than just information. It’s their values and personality that make their content come alive. That’s why cancellation threatens creativity. It promotes fear instead of authenticity. Self-censorship instead of free expression. Stagnation instead of growth.</p>
        <p>But with Pluribus, your financial pledge gives a creator the confidence to forge ahead – the freedom to be human, despite the risk. Yet Pluribus is about more than financial support. It’s about strengthening a community whose values outlive fleeting trends. You provide the security creators need, they provide the authentic content you want.</p>
    </div>
</section>

    <div class="wrapper" data-cols="8">
        <header class="flow mt-5">
            <h2 class="display-xxs">Supporter frequently asked questions</h2>
        </header>

        <div class="accordion" id="accordionFAQs">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#already-support" aria-expanded="true" aria-controls="already-support">
                        I already support creators I like by subscribing to them, why would I support them here as well?
                    </button>
                </h2>
                <div id="already-support" class="accordion-collapse collapse show" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>Because it’s not a recurring monthly payment, it’s a commitment to make a future payment only in the event when they’re in particular need of it. This would obviously be of use if they lose their ability to access the subscription service itself, but setting that scenario aside, this is to help in the event of an emergency. Just like we don’t make people rely strictly on their salaries to cover physical emergencies, we believe they shouldn’t have to rely on their expected subscription revenue to cover social and/or digital emergencies. </p>

                        <p>If you subscribe to someone you like, please continue to do so- this is meant to supplement subscriptions, not displace them. Think of it this way: subscriptions are useful as a steady stream of income for times of normalcy, and pledges over time that collectively kick in when they are needed are useful for times of crisis.</p>

                        <p>Another benefit is you are free to pledge to creators you don’t currently subscribe to. Very few people have enough money to subscribe to every single creator they’d ideally like to. If there are people doing admirable work that you just don’t have the flexibility to support, proactive pledges allow you to be there for when they most need it.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#define-cancellation" aria-expanded="false" aria-controls="define-cancellation">
                        What counts as a “cancellation”? That’s a pretty broad term.
                    </button>
                </h2>
                <div id="define-cancellation" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>Indeed it is. That is why creators set the criteria for what counts as a canceling for them. For some it will be getting deplatformed from Patreon, for others it will be Twitter, others might be getting demonetized from Youtube, losing sponsorships, or getting locked out of their bank account. They’ll set the parameters of what scenario pertains to them, and you decide if you’d like to commit to reduce the damage should that event come to pass. </p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#immediate-expense" aria-expanded="false" aria-controls="immediate-expense">
                        Wait, so how isn’t this an immediate expense?
                    </button>
                </h2>
                <div id="immediate-expense" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>No one has a 100% chance of getting canceled, but regular donations have a 100% chance of being an expense- not a great deal for you. Instead, with Pluribus you pledge to donate only if the person you are pledging to gets canceled. This isn’t a symbolic pledge like signing a petition, we’ll collect your payment info when you do so, but whatever amount you decide to commit won’t become a live donation until the recipient formally claims the prespecified criteria have been met.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#immorality" aria-expanded="false" aria-controls="immorality">
                        I want to support people I like but don’t want my protection to encourage immoral behavior.
                    </button>
                </h2>
                <div id="immorality" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>That’s one of the benefits of having pledge recipients set the criteria for what they want protection for ahead of time. If you’re not comfortable with the terms, you don’t have to pledge. If a good amount of people agree with you, then the recipient won’t be able to gather much protection and that incentivizes them to change the terms. And we hope this would go without saying, but anything illegal is strictly prohibited. If you see anything you suspect violates the law, please let us know ASAP. </p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#abuse" aria-expanded="false" aria-controls="abuse">
                        What’s to stop the safety net I provide from being abused?
                    </button>
                </h2>
                <div id="abuse" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>You plus other people who don’t want to be taken advantage of any more than you do. If someone you pledged to decides to activate their policy but you feel they were triggered on purpose or otherwise used disingenuously, you will have 7 days from the date of the creator exercising their policy to object. If more than half of your fellow pledgers agree with you, the claim is denied. For example, if someone asks to be compensated if their Youtube channel is demonetized, then they host a livestream where they alternate between saying the N-word and denying the Holocaust for half an hour then cry “Cancel” to cash in, you are going to be far from the only one who wants to annul their pledge. </p>

                        <p>It’s worth noting that on top of their policy getting rejected, there would be notable social & professional costs for any creator willing to rip off their audience, so the incentives for fraud clearly don’t shake out in favor of anyone foolish enough to attempt it.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#non-creators" aria-expanded="false" aria-controls="non-creators">
                        I like helping creators as much as the next person, but this problem impacts non-creators as well- what are your plans for people like me? I don’t have the luxury of an audience willing to pledge money to me on demand.
                    </button>
                </h2>
                <div id="non-creators" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>Our long-term goal is to provide the tools to help as many people as possible. However, certain conditions have to be met in order for most of those tools to become feasible. The Tesla Roadster was built for two reasons:</p>
                        <ol>
                            <li>It’s undeniably awesome</li>
                            <li>It was necessary to establish the conditions that made the Model S possible for a larger market.</li>
                        </ol>

                        <p>We’re marketing this to creators first because their reach allows them to benefit before nearly anyone else while rendering them more vulnerable than nearly anyone else, and they also bring bring supporters motivated to counter this problem, i.e. you.</p>

                        <p>We could bullshit you and claim we can fix everything tomorrow, but part of the reason we started this is because we’re tired of all the lying, and we’re not going to add to it. The good news is it won’t take that long, either. Stay tuned- it’s only a matter of months before we widen the circle of feasible beneficiaries, and there are additional steps that will continue the expansion.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <section class="newsletter bg-neutral light">
        <div class="wrapper">
            <div class="columns splitter">
                <div class="content-holder">
                    <h2 class="heading-xl-strong">Sign up for our newsletter</h2>
                    <p class="body-xs-weak">There's always something new happening at Pluribus.</p>
                </div>
                <div class="form-holder">
                    <form action="/newsletter" method="post">
                        <div class="columns">
                            <input type="text" name="email" class="form-control" placeholder="Enter email address" aria-label="Enter email address">
                            <button class="btn btn-solid">Notify Me</button>
                        </div>
                        <p class="body-xs-weak text-center mt-2">We care about the protection of your data. Read our Privacy policy.</p>
                    </form>
                </div>
            </div>
        </div>
    </section>
