<%
_locals.title = "Creator FAQs";
_locals.nav = 'how-it-works';
%>

    <section class="promo-block inverse">
        <div class="wrapper" data-cols="8">
            <h1 class="display-xs">Fearlessly grow your audience. </h1>
            <p>There’s nothing quite like the feeling of witnessing your original content grow an audience. Which is why seeing it all spiral downward can be so devastating. One misunderstood phrase can reverse the momentum you’ve worked so hard to build. We’ve all seen it happen, and happen fast.</p>
            <p>But here’s the good news: Pluribus offsets the risk involved with cancellation. How? By providing a platform for your supporters to pledge financial assistance. So if a cancellation manages to cut the ground out from underneath you, you have a financial parachute to soften your landing. It’s the peace of mind you need to connect authentically with your audience, and to grow your brand.</p>
        </div>
    </section>

	<div class="wrapper" data-cols="8">
        <header class="flow mt-5">
            <h2 class="display-xxs">Creator frequently asked questions</h2>
        </header>


        <div class="accordion" id="accordionFAQs">
            

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#goFundMe" aria-expanded="true" aria-controls="goFundMe">
                        So, is this like a GoFundMe alternative?
                    </button>
                </h2>
                <div id="goFundMe" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>No- the best way to think about it is that GoFundMe (and most of what comes to mind when you  think of the word “crowdfunding”) is what we refer to as responsive crowdfunding. That is to say, it is usually used to generate funds after the need arises. While Pluribus will eventually layer in this capability in time, the primary difference is we allow you to raise funds before you need it- what we call proactive crowdfunding.</p>
                    </div>
                </div>
            </div>
            


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#alreadyHave" aria-expanded="false" aria-controls="alreadyHave">
                        I already have friendly income channels like SubscribeStar and Substack, so this seems redundant. I’m all set, thanks.
                    </button>
                </h2>
                <div id="alreadyHave" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>This is new, so this mistake is understandable, but Pluribus doesn’t compete with these services, it compliments them.</p>
                        <p>The recurring payments model of the majority of the “Creator Economy” revenue streams (including the two mentioned above) is inherently restricted to the highest-interest, lowest-volume audience. Users can only subscribe to so many people; a certain portion of a creators audience that would otherwise pay for more content falls just shy of the interest or budget threshold necessary to join a given creators income stream. However, the option to make a commitment to a creator for an unspecified time in the future that may not even occur allows for much greater flexibility. By introducing this option, Pluribus increases the percentage of a creator’s audience that can be monetized without being extractive toward the audience.</p>                            
                    </div>
                </div>
            </div>
            


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whatHappens" aria-expanded="false" aria-controls="whatHappens">
                        What happens if <i>you</i> get Cancelled?
                    </button>
                </h2>
                <div id="whatHappens" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>We’ve had a long time to prepare and earn from the experiences of other companies. Rest assured, we will not be caught off guard by any negative developments in the future.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#insurance" aria-expanded="false" aria-controls="whatHappens">
                        Are you an insurance provider?
                    </button>
                </h2>
                <div id="insurance" class="accordion-collapse collapse" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p><b>No.</b> We do not provide any insurance coverage or related services; we merely provide a venue for users to engage in peer-to-peer transactions that can serve to offset costs they may encounter in the future. </p>
                    </div>
                </div>
            </div>
            


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whyPluribus" aria-expanded="false" aria-controls="whyPluribus">
                        Why “Pluribus”?
                    </button>
                </h2>
                <div id="whyPluribus" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>Pluribus is of course a nod to the US Motto of E pluribus unum or "Out of Many, One”. However, by itself it means “More”. More as in there are more people that want to hear people’s opinions and see their talents flourish than those who wish to silence or damage them. A severely unwell and numerically tiny amount of people has managed to run rings around the rest of the population via their control of institutions and the tools those institutions provide. Luckily, new institutions and tools are coming to the fore. This is one of them. There are more of us and it is time to start acting like it.</p>
                    </div>
                </div>
            </div>
            


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#executingClaim" aria-expanded="false" aria-controls="executingClaim">
                        What Happens After Executing Your Claim?
                    </button>
                </h2>
                <div id="executingClaim" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>
                            After a creator executes their policy, donors have seven days to object if they feel the claim falls outside the mutually agreed upon parameters or is otherwise perceived to be illegitimate (such as deliberately triggering consequences just to receive a payout). If less than 50% of donors formally object to the claim within a week, the claim is approved and the funds are officially transferred.
                        </p>
                        <p>
                            The assumption of legitimacy as a baseline as opposed to putting every claim up to a vote is to ensure the security (both financial and psychological) of the recipients. For anyone to object, they must go out of their way to express it- which they will if they feel they’ve been taken advantage of. Otherwise, there are few reasons why either side would find themselves at odds with the other.
                        </p>
                    </div>
                </div>
            </div>
            


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#creatorInterstitial" aria-expanded="false" aria-controls="creatorInterstitial">
                        Creator Interstitial Page
                    </button>
                </h2>
                <div id="creatorInterstitial" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>Welcome to Pluribus, where you can proactively crowdfund a safety net to hedge against a potential cancellation. The ability to tailor your protection according to your personal situation is extremely important to us, but for the sake of clarity, here are the basic standards of what qualifies as legitimate scenarios to collect pledges for:</p>

                        <p>Scenarios wherein the pledge recipient experiences an event that directly removes (not reduces) access to a channel that provides income directly (i.e. Patreon, salaried job, etc.) or indirectly (i.e. Twitter, Facebook, etc.) via the audience it provides. This means that temporary suspensions from platforms, delays on projects, or other similarly unfortunate yet less severe situations do not currently meet the necessary threshold (this will eventually change in time, but for now, we’re keeping it simple).</p>

                        <p>Aside from this basic distinction, we will not be placing limits on how you articulate the criteria you would like protection from. However, please be advised that it is ultimately up to your supporters whether your terms are deemed to be agreeable- even allies will hardly be inclined to provide a lifeline that can be tapped from a mild inconvenience. In addition, should you decide to execute your policy, they will use their discretion to determine if your claim falls within the parameters you are about to set.</p>

                        <p>These are the minimal necessary conditions to deter bad actors. That said, if you are a good actor (and we’re sure that you are!), then you have nothing to worry about. You know your relationship with your supporters better than we do, which is why we’ve left the rest up to you. Now- what scenario(s) would you like to protect yourself against?  </p>

                        <p>Examples:</p>
                        <ul>
                            <li>“I’d like protection in case I get de-platformed from Patreon”</li>
                            <li>“I’m on two Youtube strikes, I need this in case I get a 3rd”</li>
                            <li>“I rely on two major sponsorships, I’d like security in case one of them is successfully pressured to cut ties with me before my contract expires”</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="newsletter bg-neutral light">
        <div class="wrapper">
            <div class="columns splitter">
                <div class="content-holder">
                    <h2 class="heading-xl-strong">Sign up for our newsletter</h2>
                    <p class="body-xs-weak">There's always something new happening at Pluribus.</p>
                </div>
                <div class="form-holder">
                    <form action="/newsletter" method="post">
                        <div class="columns">
                            <input type="text" name="email" class="form-control" placeholder="Enter email address" aria-label="Enter email address">
                            <button class="btn btn-solid">Notify Me</button>
                        </div>
                        <p class="body-xs-weak text-center mt-2">We care about the protection of your data. Read our Privacy policy.</p>
                    </form>
                </div>
            </div>
        </div>
    </section>
