<%
_locals.title = "How it works";
_locals.nav = 'how-it-works';
%>


	<div class="wrapper" data-cols="8">
        <header class="flow mt-5">
            <h1 class="display-xs">Pluribus F.A.Q.</h1>
            <h2 class="display-xxs">Creator frequently asked questions</h2>
        </header>


        <div class="accordion" id="accordionFAQs">
            

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#goFundMe" aria-expanded="true" aria-controls="goFundMe">
                        So, is this like a GoFundMe alternative?
                    </button>
                </h2>
                <div id="goFundMe" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>No, GoFundMe is only for crowdfunding after-the-fact. While Pluribus will also layer in responsive crowdfunding soon after it launches, the difference is we allow you to crowdfund before you need it- what we call proactive crowdfunding.</p>
                    </div>
                </div>
            </div>
            


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#alreadyHave" aria-expanded="false" aria-controls="alreadyHave">
                        I already have friendly income channels like SubscribeStar and Substack, so this seems redundant. I’m all set, thanks.
                    </button>
                </h2>
                <div id="alreadyHave" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>This is new, so this mistake is understandable, but Pluribus doesn’t compete with these services, it compliments them.</p>
                        <p>The recurring payments model of the majority of “creator economy” revenue streams (including the two mentioned above) is inherently restricted to a high-interest, low-volume audience. Users can only spend $5/mo on so many people, so a certain portion of a creators audience that would otherwise pay for more content falls just shy of the interest or budget threshold necessary to join a given creators income stream. However, the option to make a one-time pledge to a creator for an unspecified time in the future that may not even occur allows for much greater flexibility. By introducing this option, Pluribus increases the percentage of a creator’s audience that can be monetized without being extractive.</p>
                    </div>
                </div>
            </div>
            


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whatHappens" aria-expanded="false" aria-controls="whatHappens">
                        What happens if you get Cancelled?
                    </button>
                </h2>
                <div id="whatHappens" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>We’ve known the clock will be ticking for mainstream service providers from day one, which is why we’ve spent hundreds of hours preparing multiple layers of backup options for each chokepoint that powerful forces can exert pressure on, including “un-cancellable” tech that has not yet matured but we are keeping our eye on to make the switch when that becomes possible. We’ve learned from the experiences of other companies and fully understand that being able to survive coordinated attacks is mandatory- so we will. </p>
                    </div>
                </div>
            </div>
            


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whyPluribus" aria-expanded="false" aria-controls="whyPluribus">
                        Why “Pluribus”?
                    </button>
                </h2>
                <div id="whyPluribus" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>Pluribus is of course a nod to the US Motto of E pluribus unum or "Out of Many, One”. However, by itself it means “More”. More as in there are more people that want to hear people’s opinions and see their talents flourish than those who wish to silence or damage them. A severely unwell and numerically tiny amount of people has managed to run rings around the rest of the population via their control of institutions and the tools those institutions provide. Luckily, new institutions and tools are coming to the fore. This is one of them. There are more of us and it is time to start acting like it.</p>
                    </div>
                </div>
            </div>
            


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#executingClaim" aria-expanded="false" aria-controls="executingClaim">
                        What Happens After Executing Your Claim?
                    </button>
                </h2>
                <div id="executingClaim" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>To be clear, the baseline assumption is that the claims are legitimate- however, there obviously must be measures in place to prevent fraudulent claims. Therefore, when your donors are notified that you’ve elected to execute your policy, they have 7 days to object if they feel the claim is illegitimate or otherwise falls outside of the parameters that you laid out and both parties mutually agreed upon. If less than 50% of donors formally object to the claim within 7 days, the claim is approved and the funds are officially transferred to you. We specifically chose the assumption of legitimacy as a baseline and do not put every claim up to a vote to ensure the security (both financially and psychologically) of the recipients. For anyone to object, they must go out of their way to express it.</p>
                        <p>With that in mind, on the rare occasion more than 50% of donors object to the claim, it will be placed on hold pending an appeal and a 2nd vote. We have no desire to be another company making decisions about what happens to their users, just to facilitate communication between the parties that have a dispute. Pledge recipients will have another 7 days to make their case as to why they feel their claim qualifies under the terms they laid out via a medium of their choice (a written statement for people to review, a Youtube video, a Twitter thread, etc.) before the 2nd vote is held. If less than 50% object, the money is transferred to you; if more than 50% still object, the claim is dismissed.</p>
                        <p>Since those who have pledged to donate to you in your time of need obviously support what you’re doing, it is exceptionally unlikely for more than half of them to refuse to go through with it twice unless there is something seriously amiss with the claim, so this should be sufficient and accurate verification for 99.9% of cases. That said, this is simply the initial process we’ve generated on our own, and we need input from the relevant parties that would be affected so we can iterate in a manner that addresses any concerns and meets everyone’s requirements so this can function in the real world. That’s partly why we reached out- to start a dialogue of how we can best serve you given the environment we’re all in. We’re truly on your side, let’s figure this out so we can start getting the world back to normal.</p>
                    </div>
                </div>
            </div>
            


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#creatorInterstitial" aria-expanded="false" aria-controls="creatorInterstitial">
                        Creator Interstitial Page
                    </button>
                </h2>
                <div id="creatorInterstitial" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionFAQs">
                    <div class="accordion-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Quae voluptatum nisi assumenda perspiciatis cupiditate est temporibus provident eum nesciunt quisquam ipsa similique reiciendis perferendis ipsam quibusdam repudiandae, excepturi pariatur obcaecati eius. Architecto veritatis aspernatur non eum eligendi sequi voluptas nesciunt adipisci omnis, commodi inventore, in optio ipsum. Quam, illo, fugit?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>