<%
_locals.title = "How it works";
_locals.nav = 'how-it-works';
%>


    <header class="promo-block-sm light">
        <div class="wrapper">
            <h1 class="display-xs">How Pluribus works</h1>
        </div>
    </header>


    <div class="main-content wrapper" role="main">

        <div class="flex-ctr hiw-layout">
            <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" data-cols="4">
                <button class="card active" id="v-pills-fund-tab" data-bs-toggle="pill" data-bs-target="#v-pills-fund" type="button" role="tab" aria-controls="v-pills-fund" aria-selected="true">Proactive crowdfunding</button>
                <button class="card" id="v-pills-creators-tab" data-bs-toggle="pill" data-bs-target="#v-pills-creators" type="button" role="tab" aria-controls="v-pills-creators" aria-selected="false">For creators</button>
                <button class="card" id="v-pills-usecase-tab" data-bs-toggle="pill" data-bs-target="#v-pills-usecase" type="button" role="tab" aria-controls="v-pills-usecase" aria-selected="false">Use case</button>
                <button class="card" id="v-pills-claim-tab" data-bs-toggle="pill" data-bs-target="#v-pills-claim" type="button" role="tab" aria-controls="v-pills-claim" aria-selected="false">Executing a claim</button>
            </div>


            <div class="tab-content" id="v-pills-tabContent" data-cols="7">
                <div class="tab-pane fade show active" id="v-pills-fund" role="tabpanel" aria-labelledby="v-pills-fund-tab">
                    <h2 class="display-xxs">Proactive crowdfunding</h2>
                    <p>Proactive crowdfunding works differently than conventional (or “responsive”) crowdfunding. Instead of a direct, immediate transfer of funds from donors to recipients, this is a pledge to donate only if a scenario occurs that has already been articulated by the pledge recipients and agreed upon by anyone who decides to pledge ahead of time. Should this scenario come to pass, the pledge recipient activates their pledge pool and the funds contained therein are transferred.</p>
                    <ol style="display: none">
                        <li><a href="faq/creators.html#goFundMe">Test Link 1s</a></li>
                        <li><a href="faq/creators.html#alreadyHave">Test Link 2</a></li>
                        <li><a href="faq/creators.html#whatHappens">Test Link 3</a></li>
                        <li><a href="faq/creators.html">Test Link None</a></li>
                    </ol>
                </div>
                <div class="tab-pane fade" id="v-pills-creators" role="tabpanel" aria-labelledby="v-pills-creators-tab">
                    <h2 class="display-xxs">How it works for creators</h2>
                    <ol class="flow">
                        <li>You define the criteria of what you consider a “Canceling” event you want protection against to your supporters.
                        </li>
                        <li>Your supporters pledge to donate to you if this event occurs. They are not charged on the spot – their commitments accumulate in a pledge pool until the day comes when you need it.
                        </li>
                        <li>If it does, you activate your pledges by notifying your donors you’ve elected to do so, and these funds are released and transferred to you after a 7 day period. (See What Happens After Executing Claim? for more info below).
                        </li>
                    </ol>
                </div>
                <div class="tab-pane fade" id="v-pills-usecase" role="tabpanel" aria-labelledby="v-pills-usecase-tab">
                    <h2 class="display-xxs">Use case scenario</h2>
                    <p> Let’s use Bret Weinstein and Heather Heying having half their income wiped out when their Darkhorse Youtube channels got demonetized. As a response, they appealed to people to join their Patreon and began selling shirts with catchy phrases on them to try and recoup a portion of what had been taken away.
                    </p>
                    <p> If they were on Pluribus when they got demonetized, they would have already had those funds waiting for them. They would not have had to scramble to stop the bleeding, and the whole experience wouldn’t have been as taxing for them, both financially or psychologically. They also are not exactly typical creators – for the vast majority of people, the strikes are more than enough to curtail what they are doing because losing that income would be devastating.
                    </p>
                    <p> The purpose of Pluribus is to change “devastating” into “a manageable inconvenience.” If the aftermath of getting canceled becomes tolerable, it loses its coercive power. Once that happens, creators can finally focus on pursuing whatever it is that made them want to create in the first place without looking over their shoulders as they do so.
                    </p>
                </div>
                <div class="tab-pane fade" id="v-pills-claim" role="tabpanel" aria-labelledby="v-pills-claim-tab">
                    <h2 class="display-xxs">What happens after executing claim?</h2>
                    <p>
                        After a creator activates their pledges, donors have seven days to object if they feel the claim falls outside the mutually agreed upon parameters or is otherwise perceived to be illegitimate (such as deliberately triggering consequences just to receive a payout). If less than 50% of donors formally object to the claim within a week, the claim is approved and the funds are officially transferred.
                    </p>
                    <p>
                        The assumption of legitimacy as a baseline as opposed to putting every claim up to a vote is to ensure the security (both financial and psychological) of the recipients. For anyone to object, they must go out of their way to express it- which they will if they feel they’ve been taken advantage of. Otherwise, there are few reasons why either side would find themselves at odds with the other.
                    </p>
                </div>
            </div>
        </div>
    </div>

<%- contentFor('head') %>
	<meta name="description" content=" " />
	<link rel="stylesheet" href="/css/pages/how_it_works.css" /><%- contentFor() %>
