<%
_locals.title = "How it works";
_locals.nav = 'how-it-works';
%>


    <header class="promo-block-sm light">
        <div class="wrapper button-right">
                <h1 class="display-xs">How Pluribus works</h1>
                <button class="btn btn-primary btn-lg">Sign Up</button>
        </div>
    </header>


    <div class="main-content wrapper" role="main">

        <div class="flex-ctr hiw-layout">
            <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" data-cols="4">
                <button class="card active" id="v-pills-fund-tab" data-bs-toggle="pill" data-bs-target="#v-pills-fund" type="button" role="tab" aria-controls="v-pills-fund" aria-selected="true">Proactive crowdfunding</button>
                <button class="card" id="v-pills-creators-tab" data-bs-toggle="pill" data-bs-target="#v-pills-creators" type="button" role="tab" aria-controls="v-pills-creators" aria-selected="false">For creators</button>
                <button class="card" id="v-pills-usecase-tab" data-bs-toggle="pill" data-bs-target="#v-pills-usecase" type="button" role="tab" aria-controls="v-pills-usecase" aria-selected="false">Use case</button>
                <button class="card" id="v-pills-claim-tab" data-bs-toggle="pill" data-bs-target="#v-pills-claim" type="button" role="tab" aria-controls="v-pills-claim" aria-selected="false">Executing a claim</button>
            </div>


            <div class="tab-content" id="v-pills-tabContent" data-cols="7">
                <div class="tab-pane fade show active" id="v-pills-fund" role="tabpanel" aria-labelledby="v-pills-fund-tab">
                    <h2 class="display-xxs">Proactive crowdfunding</h2>
                    <p>Proactive crowdfunding works differently than conventional (or “responsive”) crowdfunding. Instead of a direct, immediate transfer of funds from donors to recipients, this is a pledge to donate only if a scenario occurs that has already been articulated by the pledge recipients and agreed upon by anyone who decides to pledge ahead of time. Should this scenario come to pass, the pledge recipient activates their pledge pool and the funds contained therein are transferred.</p>
                    <ol style="display: none">
                        <li><a href="faq/creators.html#goFundMe">Test Link 1s</a></li>
                        <li><a href="faq/creators.html#alreadyHave">Test Link 2</a></li>
                        <li><a href="faq/creators.html#whatHappens">Test Link 3</a></li>
                        <li><a href="faq/creators.html">Test Link None</a></li>
                    </ol>
                </div>
                <div class="tab-pane fade" id="v-pills-creators" role="tabpanel" aria-labelledby="v-pills-creators-tab">
                    <h2 class="display-xxs">How it works for creators</h2>
                    <ol class="flow">
                        <li>You define the criteria of what you consider a “Canceling” event you want protection against to your supporters.
                        </li>
                        <li>Your supporters pledge to donate to you if this event occurs. They are not charged on the spot – their commitments accumulate in a pledge pool until the day comes when you need it.
                        </li>
                        <li>If it does, you execute your “policy” by notifying your donors you’ve elected to do so, and these funds are released and transferred to you after a 7 day period. (See What Happens After Executing Claim? for more info below).
                        </li>
                    </ol>
                </div>
                <div class="tab-pane fade" id="v-pills-usecase" role="tabpanel" aria-labelledby="v-pills-usecase-tab">
                    <h2 class="display-xxs">Use case scenario</h2>
                    <p> Let’s use Bret Weinstein and Heather Heying having half their income wiped out when their Darkhorse Youtube channels got demonetized. As a response, they appealed to people to join their Patreon and began selling shirts with catchy phrases on them to try and recoup a portion of what had been taken away.
                    </p>
                    <p> If they were on Pluribus when they got demonetized, they would have already had those funds waiting for them. They would not have had to scramble to stop the bleeding, and the whole experience wouldn’t have been as taxing for them, both financially or psychologically. They also are not exactly typical creators – for the vast majority of people, the strikes are more than enough to curtail what they are doing because losing that income would be devastating.
                    </p>
                    <p> The purpose of Pluribus is to change “devastating” into “a manageable inconvenience.” If the aftermath of getting canceled becomes tolerable, it loses its coercive power. Once that happens, creators can finally focus on pursuing whatever it is that made them want to create in the first place without looking over their shoulders as they do so.
                    </p>
                </div>
                <div class="tab-pane fade" id="v-pills-claim" role="tabpanel" aria-labelledby="v-pills-claim-tab">
                    <h2 class="display-xxs">What happens after executing claim?</h2>
                    <p>To be clear, the baseline assumption is that the claims are legitimate – however, there obviously must be measures in place to prevent fraudulent claims. Therefore, when your donors are notified that you’ve elected to execute your policy, they have 7 days to object if they feel the claim is illegitimate or otherwise falls outside of the parameters that you laid out and both parties mutually agreed upon. If less than 50% of donors formally object to the claim within 7 days, the claim is approved and the funds are officially transferred to you. We specifically chose the assumption of legitimacy as a baseline and do not put every claim up to a vote to ensure the security (both financially and psychologically) of the recipients. For anyone to object, they must go out of their way to express it.
                    </p>
                    <p>With that in mind, on the rare occasion more than 50% of donors object to the claim, it will be placed on hold pending an appeal and a 2nd vote. We have no desire to be another company making decisions about what happens to their users, just to facilitate communication between the parties that have a dispute. Pledge recipients will have another 7 days to make their case as to why they feel their claim qualifies under the terms they laid out via a medium of their choice (a written statement for people to review, a Youtube video, a Twitter thread, etc.) before the 2nd vote is held. If less than 50% object, the money is transferred to you; if more than 50% still object, the claim is dismissed.
                    </p>
                    <p>Since those who have pledged to donate to you in your time of need obviously support what you’re doing, it is exceptionally unlikely for more than half of them to refuse to go through with it twice unless there is something seriously amiss with the claim, so this should be sufficient and accurate verification for 99.9% of cases. That said, this is simply the initial process we’ve generated on our own, and we need input from the relevant parties that would be affected so we can iterate in a manner that addresses any concerns and meets everyone’s requirements so this can function in the real world. That’s partly why we reached out – to start a dialogue of how we can best serve you given the environment we’re all in. We’re truly on your side, let’s figure this out so we can start getting the world back to normal.
                    </p>
                    <p>If you have additional questions, the Creator FAQ page may be of service. If an answer you’re looking for isn’t there, feel free to reach out to us directly at <a href="mailto:hello@pluribus.com">hello@pluribus.com</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

<%- contentFor('head') %>
	<meta name="description" content=" " />
	<link rel="stylesheet" href="/css/pages/how-it-works.css" /><%- contentFor() %>
