<%
_locals.title = "How it works";
_locals.nav = 'how-it-works';
%>


    <header class="promo-block-sm light">
        <div class="wrapper">
            <h1 class="display-xs">How Pluribus works</h1>
        </div>
    </header>


    <div class="main-content wrapper" role="main">

        <div class="flex-ctr hiw-layout">
            <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" data-cols="4">
                <button class="card active" id="v-pills-fund-tab" data-bs-toggle="pill" data-bs-target="#v-pills-fund" type="button" role="tab" aria-controls="v-pills-fund" aria-selected="true">Proactive crowdfunding</button>
                <button class="card" id="v-pills-creators-tab" data-bs-toggle="pill" data-bs-target="#v-pills-creators" type="button" role="tab" aria-controls="v-pills-creators" aria-selected="false">For creators</button>
                <button class="card" id="v-pills-supporters-tab" data-bs-toggle="pill" data-bs-target="#v-pills-supporters" type="button" role="tab" aria-controls="v-pills-supporters" aria-selected="false">For supporters</button>
                <button class="card" id="v-pills-usecase-tab" data-bs-toggle="pill" data-bs-target="#v-pills-usecase" type="button" role="tab" aria-controls="v-pills-usecase" aria-selected="false">Use case</button>
                <button class="card" id="v-pills-claim-tab" data-bs-toggle="pill" data-bs-target="#v-pills-claim" type="button" role="tab" aria-controls="v-pills-claim" aria-selected="false">Activating pledges</button>
                <button class="card" id="v-pills-guilds-tab" data-bs-toggle="pill" data-bs-target="#v-pills-guilds" type="button" role="tab" aria-controls="v-pills-guilds" aria-selected="false">Guilds (Creators)</button> 
                <button class="card" id="v-pills-distpledges-tab" data-bs-toggle="pill" data-bs-target="#v-pills-distpledges" type="button" role="tab" aria-controls="v-pills-distpledges" aria-selected="false">Distributed Pledges (Supporters)</button>
            </div>

            <div class="tab-content" id="v-pills-tabContent" data-cols="7">
                <div class="tab-pane fade show active" id="v-pills-fund" role="tabpanel" aria-labelledby="v-pills-fund-tab">
                    <h2 class="display-xxs">Proactive crowdfunding</h2>
                    <p>Proactive crowdfunding works differently than conventional (or “responsive”) crowdfunding. Instead of a direct, immediate transfer of funds from donors to recipients, this is a pledge to donate only if a scenario occurs that has already been articulated by the pledge recipients and agreed upon by anyone who decides to pledge ahead of time. Should this scenario come to pass, the pledge recipient activates their pledge pool and the funds contained therein are transferred.</p>
                </div>
                <div class="tab-pane fade" id="v-pills-creators" role="tabpanel" aria-labelledby="v-pills-creators-tab">
                    <h2 class="display-xxs">How it works for creators</h2>
                    <ol class="flow">
                        <li>You define the criteria of what you consider a “Canceling” event you want protection against to your supporters.
                        </li>
                        <li>Your supporters pledge to donate to you if this event occurs. They are not charged on the spot – their commitments accumulate in a pledge pool until the day comes when you need it.
                        </li>
                        <li>If it does, you activate your pledges by notifying your donors you’ve elected to do so, and these funds are released and transferred to you after a 7 day period. (See "Activating pledges" for more info below).
                        </li>
                    </ol>
                </div>
                <div class="tab-pane fade" id="v-pills-supporters" role="tabpanel" aria-labelledby="v-pills-supporters-tab">
                    <h2 class="display-xxs">How it works for supporters</h2>
                    <ol class="flow">
                        <li>Choose a creator you would like to support and see what scenario they would like protection against.
                        </li>
                        <li>Commit funds to be donated to them in the event the prespecified scenario comes to pass.
                        </li>
                        <li>If it does, you are notified and given the opportunity to assess the claim. If you believe it is legitimate, no action is required. If you do not, you may oppose the claim.
                        </li>
                    </ol>
                </div>
                <div class="tab-pane fade" id="v-pills-usecase" role="tabpanel" aria-labelledby="v-pills-usecase-tab">
                    <h2 class="display-xxs">Use case scenario</h2>
                    <p> Let’s use Bret Weinstein and Heather Heying having half their income wiped out when their Darkhorse Youtube channels got demonetized. As a response, they appealed to people to join their Patreon and began selling shirts with catchy phrases on them to try and recoup a portion of what had been taken away.
                    </p>
                    <p> If they were on Pluribus when they got demonetized, they would have already had those funds waiting for them. They would not have had to scramble to stop the bleeding, and the whole experience wouldn’t have been as taxing for them, both financially or psychologically. They also are not exactly typical creators – for the vast majority of people, the strikes are more than enough to curtail what they are doing because losing that income would be devastating.
                    </p>
                    <p> The purpose of Pluribus is to change “devastating” into “a manageable inconvenience.” If the aftermath of getting canceled becomes tolerable, it loses its coercive power. Once that happens, creators can finally focus on pursuing whatever it is that made them want to create in the first place without looking over their shoulders as they do so.
                    </p>
                </div>
                <div class="tab-pane fade" id="v-pills-claim" role="tabpanel" aria-labelledby="v-pills-claim-tab">
                    <h2 class="display-xxs">What happens after a creator activates their pledges?</h2>
                    <p>
                        After a creator activates their pledges, donors have seven days to object if they feel the claim falls outside the mutually agreed upon parameters or is otherwise perceived to be illegitimate (such as deliberately triggering consequences just to receive a payout). If less than 50% of donors formally object to the claim within a week, the claim is approved and the funds are officially transferred.
                    </p>
                    <p>
                        The assumption of legitimacy as a baseline as opposed to putting every claim up to a vote is to ensure the security (both financial and psychological) of the recipients. For anyone to object, they must go out of their way to express it- which they will if they feel they’ve been taken advantage of. Otherwise, there are few reasons why either side would find themselves at odds with the other.
                    </p>
                </div>
                <div class="tab-pane fade" id="v-pills-guilds" role="tabpanel" aria-labelledby="v-pills-guilds-tab">
                    <h2 class="display-xxs">Guilds (Creators):</h2>
                    <p>
                        If a creator wishes to explore means to augment whatever protection they can generate individually, they may form a Guild (or join an existing one) with other creators to pool their networks in the hopes of generating more collective security for its members. On the supported side, this is accomplished through Distributed Pledges, where newly pooled audience members can make a pledge to each guild member simultaneously (see below)
                    </p>
                    <p>
                        Another feature in Guilds is that claims are adjudicated within the group- As bad actors & questionable claims would jeopardize other guild members’ benefits, they are incentivized to adjudicate claims & regulate member behavior honestly, lest contributors cease their support. (As audiences would hardly be forgiving of this breach of trust).
                    </p>
                </div>
                <div class="tab-pane fade" id="v-pills-distpledges" role="tabpanel" aria-labelledby="v-pills-distpledges-tab">
                    <h2 class="display-xxs">Distributed Pledges (Supporters):</h2>
                    <p>
                        Instead of pledging to an individual creator, this allows users to pledge to every member of a guild simultaneously (guild members each receive the amount of a given pledge). Of course, we don’t want to burden supporters with extra risk from more pledges if an insufficient number of people join them, so Distributed Pledges will operate on <a href="https://en.wikipedia.org/wiki/Assurance_contract#:~:text=An%20assurance%20contract%2C%20also%20known,as%20the%20free%20rider%20problem." target="_blank">Assurance Contracts</a> that only activate (meaning the commitment of the funds, not the transfer of the funds) if there is a certain number of participants to share the risk. (i.e. there is zero liability until the risk is distributed to a mutually acceptable level.)  
                    </p>
                    <p>
                        Ex: A user pledges $10/each to a guild of 10 creators; however, that guild established that pledges won’t go into effect until they reach a total of 500 supporters or $7000 worth of pledges. Any early supporter can feel secure kicking off the process, knowing they aren’t on the hook for anything until enough fellow supporters follow their lead.
                    </p>
                </div>

            </div>
        </div>
    </div>

<%- contentFor('head') %>
	<meta name="description" content=" " />
	<link rel="stylesheet" href="/css/pages/how_it_works.css" /><%- contentFor() %>
