<%
_locals.title = 'Pluribus';
%>
<h1>Pluribus</h1>
<p>Welcome to Pluribus</p>
<p><a href="/creators">Browse <%= creatorCount %> creators</a></p>

<% if(!locals.authUser) { %>
<p><a href="/users/login">Log In</a> or <a href="/users/signup">Sign Up</a></p>
<% } %>
