<%
_locals.title = 'Pluribus';
_locals.bodyClass = 'landing';
%>

	<div class="jumbotron inverse">
		<div class="wrapper">
			<h1 class="display-1">Crowdfund a safety net before you need it</h1>
			<div class="jt-layout">
				<p class="heading-xl">You can&rsquo;t control whether or not you&rsquo;re canceled.
					<br>You can control how much damage it does.
				</p>
				<div class="btn-holder">
					<a href="/users/signup" class="btn btn-primary btn-lg mt-4">Get Started</a>
				</div>
			</div>
		</div>
	</div>


	<section class="promo-block how-section">
      <div class="how-grid-page">
          <div class="inner-content">
              <div class="content-holder promo-block">
                  <h2 class="display-4">How?</h2>
                  <p class="body-lg">By letting your followers offset the damage preemptively. They pledge to donate if you are canceled, but are not charged until that happens, broadening the pool of people willing to do so.</p>
              </div>
          </div>
      </div>
  </section>



	<section class="promo-block inverse animation">
	    <div class="wrapper columns splitter">
	        <div class="flow content-holder">
	            <h2 class="display-4">
	                <small><span class="primary-bg">Proactive Crowdfunding</span></small>
	                <span>See what's possible for you as a creator and backer.</span>
	            </h2>
	            <a href="/how-it-works" class="btn btn-primary btn-lg">Read More</a>
	        </div>
	        <div class="video-holder">
	            <div class="video_wrapper">
	                <iframe src="https://www.youtube.com/embed/7kZnzedz1Dg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	        </div>
	    </div>
	</section>





	<section class="promo-block neutral">
		<div class="wrapper">
			<div class="columns splitter flow">
				<div>
					<h2 class="display-4">How it works for <span class="text-primary">creators.</span></h2>
					<p class="heading-md">Three easy steps to proactive crowdsourced security </p>
				</div>
				<div>
					<a href="/users/signup" class="btn btn-primary btn-lg btn-arrow">Get Started</a>
				</div>
			</div>
			<div class="columns cards-3">
				<div class="card">
					<div class="flow card-body">
						<h3 class="card-title">You Decide</h3>
						<p>You define the criteria of what you consider a “Canceling” event that you want supporters to help protect you from.</p>
					</div>
				</div>
				<div class="card">
					<div class="flow card-body">
						<h3 class="card-title">Your supporters</h3>
						<p>Your supporters pledge to donate to you if this event occurs. They are not charged on the spot – their commitments accumulate in a “Pledge Pool” until the day comes when you need it.</p>
					</div>
				</div>
				<div class="card">
					<div class="flow card-body">
						<h3 class="card-title">Your policy</h3>
						<p>If it does, you execute your “policy” by notifying your donors you have elected to do so, and these funds are released and transferred to you.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	



	<section class="promo-block container networked">
		<div class="wrapper neutral">
			<div class="graphic-content">
				<div>
					<h2 class="display-4">Networked insurance for the networked age</h2>
					<p class="body-lg">Legacy and traditional insurance protect against damage in the physical realm. Crowdfunded insurance protects against damage in the digital realm.</p>
					<a href="/how-it-works" class="btn btn-outline btn-lg">Read More</a>
				</div>
			</div>
		</div>
	</section>
	



		<section class="promo-block primary-bg getting-cancelled">
        <div class="wrapper columns splitter">
          <div class="content-holder">
                <h2 class="display-4 quote-ext">&#8220;Getting Cancelled&#8221; means different things for different people</h2>
                <p class="body-md">That’s why you tailor your policy to address your personal situation. You know what you need protection against better than us, so you set the parameters.</p>
            </div>
        </div>
    </section>	



	<section class="promo-block neutral prepared">
		<div class="wrapper">
			<div class="flow text-center content-holder">
				<h2>
					<small class="heading-xl-strong text-primary">Be Prepared</small>
					<span class="display-4">Don’t react to the inevitable, prepare for it</span>
				</h2>
				<p>Getting canceled is a matter of “when” not “if.” So why wait a minute longer? Work together with your audience to offset future consequences in the present. </p>
			</div>
			<div class="columns cards-3">
				<div class="card">
					<div class="flow card-body">
						<h3 class="card-title">You decide</h3>
						<p>You define the criteria of what you consider a “Canceling” event that you want supporters to help protect you from. </p>
					</div>
				</div>
				<div class="card">
					<div class="flow card-body">
						<h3 class="card-title">A partnership between creators and audiences to repel their mutual aggressors</h3>
						<p>You continue producing the authentic content they want, and they insulate you from the potential consequences.</p>
					</div>
				</div>
				<div class="card">
					<div class="flow card-body">
						<h3 class="card-title">Monetize a higher percentage of your audience</h3>
						<p>Audiences wish they could subscribe to everyone they are interested in but can only pay $5 a month to so many people. The subscription model inherently limits contributions to the highest interest segment. </p>
					</div>
				</div>
			</div>
			<div class="columns cards-3">
				<div class="card">
					<div class="flow card-body">
						<h3 class="card-title">While giving them the flexibility to do it</h3>
						<p>Audiences can easily place more conditional pledges than subscriptions. Donations that only happen to help bail you out of a hypothetical future jam unlocks an enormous untapped population of users willing to contribute to your financial security.</p>
					</div>
				</div>
				<div class="card">
					<div class="flow card-body">
						<h3 class="card-title">Blunt the sword of Damocles with a crowdsourced shield</h3>
						<p>The power of cancellation is the implied damage if it falls. Luckily, there are tens of millions of people out there that would be happy to provide a shield. </p>
					</div>
				</div>
				<div class="card">
					<div class="flow card-body">
						<h3 class="card-title">Peer-to-Peer Financial Security</h3>
						<p>When institutions cannot or will not help you – or become the threat you need help against – we can only turn to each other for security. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	



	<section class="promo-block numbers">
		<div class="wrapper columns splitter">
			<figure class="inverse">
				<img src="/images/content/symbols/Numbers.svg" alt="">
			</figure>
			<div class="content-holder">
				<h2 class="display-3">We have the numbers. It’s time to use them.</h2>
				<p>Every normal person hates Cancel Culture, they just never had the right tool to oppose it… until now. Pluribus allows anyone to discreetly push back at no risk to themselves.</p>
			</div>
		</div>
	</section>
	



	<section class="promo-block tyranny">
		<div class="wrapper columns splitter">
			<div class="section-head">
				<figure>
					<img src="/images/content/symbols/Mission.svg" alt="">
					<figcaption class="text-primary"><strong>We’re on a mission</strong></figcaption>
				</figure>
				<h2 class="display-xs">The tyranny of the minority ends now</h2>
			</div>
			<div class="content-holder">
				<p>Our view on the matter is quite simple. Society rewards destructive behavior and silences speech. Since that ruins everything, we’re going to do the opposite and incentivize cooperation and protect speech.</p>
				<p>Think of it as the inverse of the Social Credit System: instead of coercion into conformity from above, it is support for dissent from below. As it stands, a tiny minority dictates what everyone else gets to say and do, and an even smaller number of people are wired in a way to publicly oppose them.</p>
				<p>Therefore, we’re going to use technology to harness the numbers of the silent majority to have their back. That’s why we are called “Pluribus” – it’s Latin for “More.” There are more people that desire the free exchange of ideas than people who do not, and it is time to act like it.</p>
			</div>
		</div>
	</section>
	



	<section class="promo-block inverse join-us">
		<div class="wrapper">
			<div class="columns splitter">
				<div class="flow">
					<h2 class="display-md">Join us today</h2>
					<div class="btn-holder">
						<a href="/users/signup" class="btn btn-primary btn-arrow">Join Us</a>
						<a href="/how-it-works" class="btn btn-outline">Learn More</a>
					</div>
				</div>
				<figure>
					<img src="/images/content/symbols/Join-Us.svg" alt="">
				</figure>
			</div>
		</div>
	</section>
	

	<section class="promo-block neutral newsletter">
		<div class="wrapper">
			<div class="columns splitter">
				<div class="content-holder">
					<h2 class="heading-xl-strong">Sign up for our newsletter</h2>
					<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint velit officia consequat duis enim velit mollit.</p>
				</div>
				<div class="form-holder">
					<form action="/newsletter" method="post">
						<div class="columns">
							<input type="text" name="email" class="form-control" placeholder="Enter email address" aria-label="Enter Email Address">
							<button class="btn btn-solid">Notify Me</button>
						</div>
						<p class="body-xs-weak text-center mt-2">We care about the protection of your data. Read our Privacy policy.</p>
					</form>
				</div>
			</div>
		</div>
	</section>

<%- contentFor('head') %>
	<meta name="description" content="Crowdfund a safety net before you need it" />
	<link rel="stylesheet" href="/css/pages/home.css" /><%- contentFor() %>
