<%
_locals.title = 'Pluribus';
_locals.bodyClass = 'landing inverse';
%>

    <div class="jumbotron text-center">
        <div class="wrapper jumbo">
            <h1 class="display-lg">Introducing the Pluribus parachute</h1>
            <p class="heading-lg-weak">An emergency fund for creators, crowdsourced by their supporters, ready when cancellation strikes. Networked security against networked threats</p>
            <div class="btn-holder">
                <a href="/faq/creators" class="btn btn-light">Pluribus for creators</a>
                <a href="/faq/supporters" class="btn btn-light">Pluribus for supporters</a>
            </div>
        </div>
    </div>


    <section class="promo-block">
        <div class="wrapper minimizing-fallout">
            <div class="content-holder">
                <h2 class="heading-sm-medium text-primary">
                    Minimizing the fallout of cancellation
                </h2>
                <p class="display-xxs">Control the damage when you can't control the outcome</p>
            </div>
        </div>
        <div class="wrapper">
            <div class="columns cards-3">
                <div class="card text-center">
                    <figure>
                        <img src="/images/content/symbols/Counter_Forces.svg" alt="">
                    </figure>
                    <div class="flow card-body">
                        <h3 class="card-title">Counter the Forces of Compliance.</h3>
                        <p>Instead of coercion into consensus from above, generate support for dissent from below.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <figure>
                        <img src="/images/content/symbols/Protective_Partnership.svg" alt="">
                    </figure>
                    <div class="flow card-body">
                        <h3 class="card-title">A proactive partnership between creators and audiences.</h3>
                        <p>By pledging funds preemptively, creators and audiences can work together to offset future consequences in the present.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <figure>
                        <img src="/images/content/symbols/More_Flexibility.svg" alt="">
                    </figure>
                    <div class="flow card-body">
                        <h3 class="card-title">More flexibility for audiences, more protection for creators.</h3>
                        <p>Audiences can only subscribe to so many people- conditional pledges allow them to support to creators they might not otherwise have in their budget.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="animation">
        <div class="wrapper">
            <div class="video-holder">
                <div class="video_wrapper">
                    <iframe src="https://www.youtube.com/embed/vq3Vk6xC40M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
	</section>



    <section class="newsletter">
        <div class="wrapper">
            <div class="columns splitter">
                <div class="content-holder">
                    <h2 class="heading-xl-strong">Pluribus. <small class="heading-md-weak">(PLOO-ri-bus) Latin for more.</small></h2>
                    <p class="heading-sm-weak">More cooperation. More security. More freedom.</p>
                </div>
                <div class="form-holder">
                    <form action="/newsletter" method="post">
                        <p class="body-xs-weak ">Stay in the loop for our upcoming launch</p>
                        <div class="columns">
                            <input type="text" name="email" class="form-control" placeholder="Email" aria-label="Enter Email Address">
                            <button class="btn btn-primary">Get updates</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<%- contentFor('head') %>
	<meta name="description" content="Crowdfund a safety net before you need it" />
	<link rel="stylesheet" href="/css/pages/home.css" /><%- contentFor() %>
