<%
_locals.title = 'Pluribus';
_locals.noNav = true;
_locals.bodyClass = 'inverse signup-success';

%>
<link rel="stylesheet" href="/css/pages/prelaunch.css" />
<% /* CSS tweaks that need to be integrated back into master CSS */ %>
<link rel="stylesheet" href="/css/todo.css" />

<div class="success-msg">
	<h1 class="display-2">Sit back and relax, your journey with us has just begun.</h1>
</div>
