<%
_locals.title = 'Pluribus';
%>
    <header>
        <figure class="logo">
            <img src="images/ui/logo-white.svg" alt="Pluribus. Logo">
        </figure>
    </header>
    <div class="success-msg">
        <h1 class="display-2">Sit back and relax, your journey with us has just begun.</h1>
    </div>
