<%
_locals.nav = 'pricing';
_locals.title = 'Pricing';
%>
<div class="wrapper-half main-content">
	<div class="form-credentials card">
		<div class="card-body">
			<h1 class="display-xxs text-dark">Pricing</h1>
			<p>
				The value this service can provide will grow alongside the network of users participating in it.
			</p>
			<p>
				With that in mind, the initial rate to begin accepting pledges is <b class="body-md-medium text-strong">only $5/mo!</b>
			</p>
		</div>
	</div>
	
</div>