<%
_locals.nav = 'pricing';
_locals.title = 'Pricing';
%>
<div class="wrapper-half main-content">
	<div class="form-credentials card">
		<div class="card-body">
			<h1 class="display-xxs text-dark">Pricing</h1>
			<p>
				Providing the means for you to protect yourself against cancellation is not calculated through a risk profile or other such things to determine a monthly premium. The value this service will provide will also grow alongside the network of users participating in it. With that in mind, the initial rate to begin accepting pledges is <b class="body-md-medium text-strong">only $5 per month!</b>
			</p>
			<p>
				This will allow you to work with your supporters to build your Pluribus parachute and activate it should the need arise for as long as you are with us. 
			</p>
		</div>
	</div>
	
</div>