<%
_locals.title = "Roadmap";
%>
<div class="container my-4">
	<div class="row">
		<div class="col-lg-8 body-md-weak">
			<h2 class="heading-xl-medium text-primary">Roadmap</h2>
			<h1 class="display-sm">The plan to improve Pluribus through 2023</h1>

			<h5 class="text-primary mt-5 mb-0">October 2022</h5>
			<h3 class="display-xxs">Public Release of MVP</h3>
			<p>
				This stage will be a demonstration for creators, the goal being to spark feedback before broader release.

				Our overarching goal is to make it easier for creators to be themselves and we look forward to working with
				creators who share this goal.

				This prototype is meant to act as a demonstration for creators like yourself, but we’d like to integrate your
				feedback before broader public release. With that in mind, once we add functionality for supporters and actually
				make the payment rails live, we’ll be ready for interested creators and their supporters to participate in a
				closed beta as we continue to iterate in an attempt to perfect what we have only just begun to build. We all have
				the same goal of making it easier for you to be yourself and are happy to collaborate in service of that goal.
			</p>
			
			<h5 class="text-primary mt-5 mb-0">Autumn 2022</h5>
			<h3 class="display-xxs">Responsive Crowdfunding</h3>
			<p>
				The most sensible improvement is also one of the easiest: implement responsive crowdfunding (i.e. conventional,
				“GoFundMe”-type crowdfunding) that is automatically triggered when you execute your policy to bolster the protection
				provided by the standard proactive crowdfunding. When the alert goes out to supporters that have pledged, they can
				then post a link to the wider public to make the rest of the Internet aware they can donate. While we are proud
				of our primary innovation explained in this prototype, it is not as an excuse to ignore	additional layers of
				protection.
			</p>
			
			<h5 class="text-primary mt-5 mb-0">Spring 2023</h5>
			<h3 class="display-xxs">Mutual Aid Funding</h3>
			<p>
				Creators are the first ones that can take advantage of this because they already have audiences that can generate
				a decent amount of protection, but most people don&rsquo;t have that luxury. After some time to grow the user base,
				we&rsquo;ll roll out the ability for “average” users (or even just smaller creators) to collect pledges and pool them
				together to generate protection they wouldn&rsquo;t be able to otherwise. This will function nearly exactly the same
				as the proactive funding explained here, only one additional step required.
			</p>
				
			<h5 class="text-primary mt-5 mb-0">Spring &ndash; Summer 2023</h5>
			<h3 class="display-xxs">Mass Shaming Alerts</h3>
			<p>
				Not to be confused with the alert that goes out for your policy execution (and eventual responsive campaign launch),
				this is a “Digital Flate” to rapidly mobilize crowdsourced support as a live response to a social media attack. The costs of Cancellation
				aren’t always economic, but psychological and the only proper response to a networked attack on a single target is a
				networked defense of that target. Available to all users. 
			</p>
				
			<h5 class="text-primary mt-5 mb-0">Summer 2023</h5>
			<h3 class="display-xxs">Professional Directories of Relevant Services</h3>
			<p>
				It will take a few months to grow the user base enough to attract these businesses first, but once we do, there are
				obvious incentives for services that can help you to advertise on the platform. Whether it's PR firms, legal
				representation,	mental health services, reputation management consulants, recruiters/headhunters, or simply
				businesses that would like to team up with figures with overlapping customer bases- anything that might be in
				demand among potentially Cancelled people will be fair game (heck, let us know any you&rsquo;d like so we can
				strike up some relationships).
			</p>
				
			<h5 class="text-primary mt-5 mb-0">Autumn 2023</h5>
			<h3 class="display-xxs">Quadratic Funding (i.e. Centralized Matching Pools)</h3>
			<p>
				While there are millions of people willing to contribute to people on an individual basis, the simple fact is most normies
				don&rsquo;t follow things close enough to do so- however, the vast majority of them still hate Cancel Culture with a
				passion. For these folks, they can contribute a small amount of money each month that will go to Centralized Matching Pools
				to amplify the effect of the types of funding we&rsquo;ve talked about already. You can almost think of it like how people
				donate to charities they care about if properly communicated, we estimate the market willing to make contribution to an
				Anti-Cancel Culture Fund to be in the tens of millions. The mathematics behind Quadratic Funding can be quite complicated,
				but you can learn more on Vitalik Buterin&rsquo;s blog here.
			</p>
			
			<h5 class="text-primary mt-5 mb-0">Beginning of 2024</h5>
			<h3 class="display-xxs">Retroactive Public Goods Funding</h3>
			<p class="mb-5">
				Further away than the others because it requires the most amount of money to work well, but we are very excited for when
				that time comes. Once the central funding pools	mentioned above reach a certain size, we will devote a portion of the
				fund to be distributed periodically	(ultimately every month) according to a vote for who as best exemplified the ethos
				of the platform in that timeframe. This is not winner-take-all, and will be conducted via Quadratic Voting, where each
				person can allocate a % of their vote to multiple recipients to reflect their degree of preference and mitigate simple
				popularity contests. As the pool of available funds becomes more plentiful, this will include additional categories to
				reward over time. 
			</p>
				

		</div>
	</div>
	
</div>