<%
_locals.title = "Roadmap";
%>
<div class="container my-4">
	<div class="row">
		<div class="col-lg-8 body-md-weak">
			<h2 class="heading-xl-medium text-primary">Roadmap</h2>

			<h5 class="text-primary mt-5 mb-0">Summer 2023</h5>
			<h3 class="display-xxs">Launch of Closed Beta</h3>
			<p>
				This problem has been around a long time and we want to make sure we get the solution right. With that in mind, all of our carefully designed plans require feedback from the real world to iterate upon and refine until releasing what emerges to a broader population.
			</p>
			
			<h5 class="text-primary mt-5 mb-0">Autumn 2023</h5>
			<h3 class="display-xxs">Creator Guilds</h3>
			<p>
				Not every creator commands a large enough following to offset any costs they might encounter on their journey. Accordingly, our first major update will allow mid-sized & smaller creators to pool their respective audiences to generate more protection than they could alone. From an audience member’s perspective, this will almost be a social media version of a cable subscription- instead of subscribing to every individual you like, you pay a subscription to support everyone on “your team” via a shared pool they can draw from.
			</p>
			
			<h5 class="text-primary mt-5 mb-0">Winter 2023/24</h5>
			<h3 class="display-xxs">Responsive Crowdfunding</h3>
			<p>
				One of the most sensible improvements is also one of the easiest: implement responsive crowdfunding (i.e. conventional, “GoFundMe”-type crowdfunding) that is automatically triggered when a user activates their pledges to bolster the protection provided by the standard proactive crowdfunding. When the alert goes out to supporters that have pledged, they can then post a link to the wider public to make the rest of the Internet aware they can donate. Vertically integrating each form of crowdfunding will maximize the amount of support that can be generated.
			</p>
				
			<h5 class="text-primary mt-5 mb-0">Fall 2024</h5>
			<h3 class="display-xxs">Directory of Professional Services</h3>
			<p>
				It will take a few months to establish the necessary user base first, but once we do, there are obvious incentives for services that would benefit from advertising on the platform. Whether its PR firms, mental health services, reputation management consultants, recruiters/headhunters, or simply businesses interested in collaborating with figures with overlapping customer bases- any business with relevant services will be fair game.  
			</p>
				

		</div>
	</div>
	
</div>