<%
_locals.title = "Support";
_locals.nav = "support";
%>
<style>
	.crypto-info {
		display: none;
	}

	.crypto-info.show {
		display: block;
	}
</style>
<div class="wrapper-half main-content" role="main">
	<div class="form-credentials card">
		<div class="card-body">
			<div class="flow">
				<h2 class="text-strong display-xxs">Cryptocurrency</h1>

				<div class="form-floating mb-4">
					<select id="type" class="form-select" placeholder="Select cryptocurrency">
						<option selected>Select cryptocurrency</option>
						<option value="btc">Bitcoin</option>
						<option value="eth">Etherium</option>
						<option value="xmr">Monero</option>
					</select>
					<label for="type">Cryptocurrency</label>
				</div>

				<div id="info-btc" class="crypto-info">
					<p class="text-strong">
						Copy the address below to make a payment.
					</p>

					<label>BTC Address</label>
					<div>bc1qrr224r5kqtuugd0gam5tx67n87czd25mdn34dy</div>
				</div>

				<div id="info-eth" class="crypto-info">
					<p class="text-strong">
						Copy the address below to make a payment.
					</p>

					<label>ETH Address</label>
					<div>0x35683B8a54bc07014F54C5FFb68564b79C9acDE8</div>
				</div>

				<div id="info-xmr" class="crypto-info">
					<p class="text-strong">
						Copy the address below to make a payment.
					</p>

					<label>Monero Address</label>
					<div>43MzkqcfgzjPSjJtsbo5yt1G1zgM94yS14a9Fk76NrcMD6vqAgT2NApZFEuYY4kGDFZDDFetDYYZDTxSZYy6XEFT6n9jaLP</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	const type = document.getElementById('type');
	type.addEventListener('change', function() {
		document.querySelectorAll('.crypto-info.show').forEach(function(el) {
			el.classList.remove('show');
		});
		let info = document.getElementById('info-' + type.value);
		if(info) {
			info.classList.add('show');
		}
	});
</script>