.validation-feedback {
	margin-top: 8px;
	margin-right: 24px;
	font-weight: normal;
	display: inline-block;
	color: #717171;
}
.validation-feedback:before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url('/images/ui/check-o-muted.svg');
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin-right: 5px;
}
.validation-feedback.text-success:before {
	background-image: url('/images/ui/check-o-success.svg');
}