/* CSS Variables */
:root {
  --primary: #159345;
}

/* Bootstrap overrides */
a { color: var(--primary) }

a:hover { color: #9cca50; }

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}