/**
 * CSS Compiled on: 2022-08-02 18:02:21 -07:00
 * ============================================================================== *
 */
/*  4. Custom Mixins  */
a {
  color: #1d1d23;
  font-weight: 500;
}
a:hover {
  color: #555af7;
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 10px;
  }
}
*[class*=display] {
  font-weight: 500;
  line-height: 1.3 !important;
}

@media only screen and (min-width: 768px) {
  .display-xl {
    font-size: 5.375rem;
  }
  .display-lg {
    font-size: 4rem;
  }
  .display-md {
    font-size: 3.375rem;
  }
  .display-sm {
    font-size: 2.75rem;
  }
  .display-xs {
    font-size: 2.375rem;
  }
  .display-xxs {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  *[class^=display-][class$=xl] {
    font-size: 3.8rem;
  }
  *[class^=display-][class$=lg] {
    font-size: 3.4rem;
  }
  *[class^=display-][class$=md] {
    font-size: 3rem;
  }
  *[class^=display-][class$=sm] {
    font-size: 2.6rem;
  }
  *[class^=display-][class$=xs] {
    font-size: 2.4rem;
  }
  *[class^=display-][class$=xxs] {
    font-size: 2.2rem;
  }
}
body {
  background-color: #f0f2f3;
}

.bg-neutral {
  background-color: #f0f2f3;
}
.bg-neutral.light {
  background-color: #f8f9fa;
}
.bg-neutral.dark {
  background-color: #e1e3e4;
}

.text-strong {
  color: #1d1d23;
}

.text-medium {
  color: #717171;
}

.text-weak {
  color: rgba(113, 113, 113, 0.3);
}

.text-white {
  color: #fff;
}

.text-neutral {
  color: #f0f2f3;
}

.text-neutral-light {
  color: #f8f9fa;
}

.text-neutral-dark {
  color: #e1e3e4;
}

.light {
  background-color: #fff;
  color: #717171;
}

.inverse, .how-grid-page .content-holder {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  color: #fff;
}

.neutral {
  background-color: #f8f9fa;
  color: #1d1d23;
}

.how-grid-page .inner-content::before, .primary-bg {
  background-color: #555af7;
  color: #fff;
}

.shadow-small {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.shadow-medium {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
}

.shadow-large {
  box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.12);
}

.body-xl-weak {
  font-size: var(--body-xl);
  font-weight: 400;
}

.body-xl-medium {
  font-size: var(--body-xl);
  font-weight: 500;
}

.heading-xl-weak {
  font-size: var(--heading-xl);
  font-weight: 400;
}

h1, .h1, *[class~=heading-xl], .heading-xl-medium {
  font-size: var(--heading-xl);
  font-weight: 500;
}

.heading-xl-strong {
  font-size: var(--heading-xl);
  font-weight: 700;
}

.body-lg-weak {
  font-size: var(--body-lg);
  font-weight: 400;
}

.body-lg-medium {
  font-size: var(--body-lg);
  font-weight: 500;
}

.heading-lg-weak {
  font-size: var(--heading-lg);
  font-weight: 400;
}

h2, .h2, *[class~=heading-lg], .heading-lg-medium {
  font-size: var(--heading-lg);
  font-weight: 500;
}

.heading-lg-strong {
  font-size: var(--heading-lg);
  font-weight: 700;
}

.body-md-weak {
  font-size: var(--body-md);
  font-weight: 400;
}

.body-md-medium {
  font-size: var(--body-md);
  font-weight: 500;
}

.heading-md-weak {
  font-size: var(--heading-md);
  font-weight: 400;
}

h3, .h3, *[class~=heading-md], .heading-md-medium {
  font-size: var(--heading-md);
  font-weight: 500;
}

.heading-md-strong {
  font-size: var(--heading-md);
  font-weight: 700;
}

.body-sm-weak {
  font-size: var(--body-sm);
  font-weight: 400;
}

.body-sm-medium {
  font-size: var(--body-sm);
  font-weight: 500;
}

.heading-sm-weak {
  font-size: var(--heading-sm);
  font-weight: 400;
}

h4, .h4, *[class~=heading-sm], .heading-sm-medium {
  font-size: var(--heading-sm);
  font-weight: 500;
}

.heading-sm-strong {
  font-size: var(--heading-sm);
  font-weight: 700;
}

.body-xs-weak {
  font-size: var(--body-xs);
  font-weight: 400;
}

.body-xs-medium {
  font-size: var(--body-xs);
  font-weight: 500;
}

.heading-xs-weak {
  font-size: var(--heading-xs);
  font-weight: 400;
}

.animation small, h5, .h5, *[class~=heading-xs], .heading-xs-medium {
  font-size: var(--heading-xs);
  font-weight: 500;
}

.heading-xs-strong {
  font-size: var(--heading-xs);
  font-weight: 700;
}

.shadow-small {
  background-color: pink;
}

body {
  background-color: #fff;
  padding-top: 0;
}

h1.display-1 {
  max-width: 1000px;
  margin-bottom: 3rem;
}

.btn-arrow::after {
  background: url("/images/ui/icon-arrow.svg") center left no-repeat;
  content: "";
  display: inline-block;
  height: 10px;
  width: 1.1rem;
  margin-left: 0.65em;
}
.btn-arrow:hover::after {
  background-position: center right;
}

.quote-ext {
  text-indent: -0.5em;
  margin-left: -0.5em;
  padding-left: 0.5em;
}

@media only screen and (max-width: 767px) {
  .jt-layout .btn {
    width: 100%;
    font-size: 2rem;
  }
}
.graphic-content {
  display: flex;
  flex-wrap: wrap;
}
.graphic-content > * {
  flex: 1;
}

@media only screen and (max-width: 767px) {
  .graphic-content {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .graphic-content > figure {
    order: -1;
  }
}
.cards-3 > * {
  flex: 1;
}

.columns + .columns {
  margin-top: 1.5rem;
}

.graphic-content {
  gap: 24px;
  align-items: stretch;
}
.graphic-content::after {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: url("/images/content/symbols/Networked.png") no-repeat center;
  background-size: 100%;
  content: "";
}

.jumbotron {
  padding: 6rem 0;
}

.how-grid-page {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  grid-template-rows: auto;
}
.how-grid-page::before, .how-grid-page::after {
  content: "";
  display: block;
}
.how-grid-page::after {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}
.how-grid-page .inner-content {
  align-items: center;
  display: grid;
  grid-template-columns: 192px 192px 1fr;
  grid-template-rows: auto;
}
.how-grid-page .inner-content::before {
  border-radius: 17px;
  background-image: url("/images/content/symbols/How.png");
  background-size: contain;
  content: "";
  display: block;
  height: 384px;
  width: 384px;
  z-index: 5;
}
.how-grid-page .content-holder {
  border-radius: 17px 0 0 17px;
  grid-column: 2/-1;
  padding: 9rem 12px;
  padding-left: 232px;
}
.how-grid-page .content-holder > * {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.animation .columns > * {
  flex-wrap: wrap;
  flex-basis: 50%;
  min-width: 260px;
}
.animation small {
  display: block;
  margin-bottom: 1.5rem;
}
.animation small span {
  display: inline-block;
  padding: 0.1875rem 6px;
}

.getting-cancelled .splitter::before {
  background: url("/images/content/symbols/Union.svg") center no-repeat;
  content: "";
  flex: 1;
  display: block;
  min-height: 181px;
}
.getting-cancelled .content-holder {
  flex: 2;
}

.prepared small {
  display: block;
  margin-bottom: 1.5rem;
}
.prepared .content-holder p {
  max-width: 650px;
  margin: 0 auto 3rem;
}

.numbers .columns {
  align-items: center;
}
.numbers figure {
  padding: 3rem;
  border-radius: 16px;
}
.numbers .content-holder > * {
  max-width: 588px;
}

.networked .wrapper {
  border-radius: 17px;
  padding: 3rem 48px;
}

.tyranny .section-head {
  flex: 1;
  max-width: 400px;
}
.tyranny .content-holder {
  flex: 2;
  max-width: 600px;
}
.tyranny figcaption {
  margin: 0.75rem 0 2.25rem;
}

.join-us .columns {
  align-items: center;
}
.join-us .btn-holder {
  display: flex;
  gap: 24px;
}

.newsletter .columns {
  align-items: center;
}
.newsletter .columns > * {
  flex: 1;
}
.newsletter .content-holder {
  max-width: 550px;
}
.newsletter .form-holder {
  max-width: 480px;
}
.newsletter .btn {
  white-space: nowrap;
  flex: 0;
}

@media only screen and (max-width: 767px) {
  .how-section.promo-block {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
    padding: 0;
  }
  .how-section.promo-block .how-grid-page,
.how-section.promo-block .inner-content {
    display: block;
  }
  .how-section.promo-block .inner-content::before {
    margin-left: auto;
    margin-right: auto;
    height: 325px;
    width: 325px;
  }
  .how-section.promo-block .content-holder {
    padding: 1.5rem 12px;
    border-radius: 0 0 17px 17px;
  }
  .how-section.promo-block .content-holder > * {
    max-width: 300px;
  }
}
/*# sourceMappingURL=../../maps/pages/home.css.map */
