/**
 * CSS Compiled on: 2022-06-25 18:32:47 -07:00
 * ============================================================================== *
 */
/*  4. Custom Mixins  */
a {
  color: #1d1d23;
  font-weight: 500;
}
a:hover {
  color: #555af7;
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 10px;
  }
}
*[class*=display] {
  font-weight: 500;
  line-height: 1.3 !important;
}

@media only screen and (min-width: 768px) {
  .display-xl {
    font-size: 5.375rem;
  }
  .display-lg {
    font-size: 4rem;
  }
  .display-md {
    font-size: 3.375rem;
  }
  .display-sm {
    font-size: 2.75rem;
  }
  .display-xs {
    font-size: 2.375rem;
  }
  .display-xxs {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  *[class^=display-][class$=xl] {
    font-size: 3.8rem;
  }
  *[class^=display-][class$=lg] {
    font-size: 3.4rem;
  }
  *[class^=display-][class$=md] {
    font-size: 3rem;
  }
  *[class^=display-][class$=sm] {
    font-size: 2.6rem;
  }
  *[class^=display-][class$=xs] {
    font-size: 2.4rem;
  }
  *[class^=display-][class$=xxs] {
    font-size: 2.2rem;
  }
}
body {
  background-color: #f0f2f3;
}

.bg-neutral {
  background-color: #f0f2f3;
}
.bg-neutral.light {
  background-color: #f8f9fa;
}
.bg-neutral.dark {
  background-color: #e1e3e4;
}

.text-strong {
  color: #1d1d23;
}

.text-medium {
  color: #717171;
}

.text-weak {
  color: rgba(113, 113, 113, 0.3);
}

.text-white {
  color: #fff;
}

.text-neutral {
  color: #f0f2f3;
}

.text-neutral-light {
  color: #f8f9fa;
}

.text-neutral-dark {
  color: #e1e3e4;
}

.inverse {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  color: #fff;
}

.neutral {
  background-color: #f8f9fa;
  color: #1d1d23;
}

.how-grid .inner-content::after, .primary-bg {
  background-color: #555af7;
  color: #fff;
}

.shadow-small {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.shadow-medium {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
}

.shadow-large {
  box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.12);
}

.body-xl-weak {
  font-size: var(--body-xl);
  font-weight: 400;
}

.body-xl-medium {
  font-size: var(--body-xl);
  font-weight: 500;
}

.heading-xl-weak {
  font-size: var(--heading-xl);
  font-weight: 400;
}

h1, .h1, *[class~=heading-xl], .heading-xl-medium {
  font-size: var(--heading-xl);
  font-weight: 500;
}

.heading-xl-strong {
  font-size: var(--heading-xl);
  font-weight: 700;
}

.body-lg-weak {
  font-size: var(--body-lg);
  font-weight: 400;
}

.body-lg-medium {
  font-size: var(--body-lg);
  font-weight: 500;
}

.heading-lg-weak {
  font-size: var(--heading-lg);
  font-weight: 400;
}

h2, .h2, *[class~=heading-lg], .heading-lg-medium {
  font-size: var(--heading-lg);
  font-weight: 500;
}

.heading-lg-strong {
  font-size: var(--heading-lg);
  font-weight: 700;
}

.body-md-weak {
  font-size: var(--body-md);
  font-weight: 400;
}

.body-md-medium {
  font-size: var(--body-md);
  font-weight: 500;
}

.heading-md-weak {
  font-size: var(--heading-md);
  font-weight: 400;
}

h3, .h3, *[class~=heading-md], .heading-md-medium {
  font-size: var(--heading-md);
  font-weight: 500;
}

.heading-md-strong {
  font-size: var(--heading-md);
  font-weight: 700;
}

.body-sm-weak {
  font-size: var(--body-sm);
  font-weight: 400;
}

.body-sm-medium {
  font-size: var(--body-sm);
  font-weight: 500;
}

.heading-sm-weak {
  font-size: var(--heading-sm);
  font-weight: 400;
}

h4, .h4, *[class~=heading-sm], .heading-sm-medium {
  font-size: var(--heading-sm);
  font-weight: 500;
}

.heading-sm-strong {
  font-size: var(--heading-sm);
  font-weight: 700;
}

.body-xs-weak {
  font-size: var(--body-xs);
  font-weight: 400;
}

.body-xs-medium {
  font-size: var(--body-xs);
  font-weight: 500;
}

.heading-xs-weak {
  font-size: var(--heading-xs);
  font-weight: 400;
}

h5, .h5, *[class~=heading-xs], .heading-xs-medium {
  font-size: var(--heading-xs);
  font-weight: 500;
}

.heading-xs-strong {
  font-size: var(--heading-xs);
  font-weight: 700;
}

.shadow-small {
  background-color: pink;
}

body {
  background-color: #fff;
}

h1.display-1 {
  max-width: 1000px;
  margin-bottom: 3rem;
}

.promo-block {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.btn-arrow::after {
  background: url("/images/ui/icon-arrow.svg") center left no-repeat;
  content: "";
  display: inline-block;
  height: 10px;
  width: 1.1rem;
  margin-left: 0.65em;
}
.btn-arrow:hover::after {
  background-position: center right;
}

.quote-ext {
  text-indent: -0.5em;
  margin-left: -0.5em;
  padding-left: 0.5em;
}

@media only screen and (max-width: 767px) {
  .jt-layout .btn {
    width: 100%;
    font-size: 2rem;
  }
}
.graphic-content {
  display: flex;
  flex-wrap: wrap;
}
.graphic-content > * {
  flex: 1;
}

@media only screen and (max-width: 767px) {
  .graphic-content {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .graphic-content > figure {
    order: -1;
  }
}
.how-grid {
  display: grid;
  display: none;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: ". content";
  padding: 6rem 0;
}
.how-grid .inner-content {
  border-radius: 17px 0 0 17px;
  grid-area: content;
  height: 400px;
  padding: 1.5rem 15px 1.5rem 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.how-grid .inner-content > * {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.how-grid .inner-content::after {
  content: "";
  height: 250px;
  width: 250px;
  position: absolute;
  left: -200px;
  border-radius: 17px;
  background-image: url("/images/content/symbols/How.png");
  background-size: contain;
}

@media only screen and (max-width: 575px) {
  .how-grid {
    display: block;
    padding: 0;
  }
  .how-grid .inner-content {
    border-radius: 0;
    padding: 3rem;
  }
  .how-grid .inner-content::after {
    position: static;
    margin: 1.5rem auto;
  }
}
.cards-3 > * {
  flex: 1;
}

.columns + .columns {
  margin-top: 1.5rem;
}

.graphic-content {
  gap: 24px;
  align-items: stretch;
}
.graphic-content::after {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: url("../../images/content/symbols/networked.png") no-repeat center;
  background-size: 100%;
  content: "";
}

.jumbotron {
  padding: 6rem 0;
}

.prepared small {
  display: block;
  margin-bottom: 1.5rem;
}
.prepared .content-holder p {
  max-width: 650px;
  margin: 0 auto 3rem;
}

.numbers .columns {
  align-items: center;
}
.numbers figure {
  padding: 3rem;
  border-radius: 16px;
}
.numbers .content-holder > * {
  max-width: 588px;
}

.networked .wrapper {
  border-radius: 17px;
  padding: 3rem 48px;
}

.tyranny .section-head {
  flex: 1;
  max-width: 400px;
}
.tyranny .content-holder {
  flex: 2;
  max-width: 600px;
}
.tyranny figcaption {
  margin: 0.75rem 0 2.25rem;
}

.join-us .columns {
  align-items: center;
}
.join-us .btn-holder {
  display: flex;
  gap: 24px;
}

.newsletter .columns {
  align-items: center;
}
.newsletter .columns > * {
  flex: 1;
}
.newsletter .content-holder {
  max-width: 550px;
}
.newsletter .form-holder {
  max-width: 480px;
}
.newsletter .btn {
  white-space: nowrap;
  flex: 0;
}
/*# sourceMappingURL=../../maps/pages/home.css.map */
