/**
 * CSS Compiled on: 2022-08-14 18:57:44 -07:00
 * ============================================================================== *
 */
/*  4. Custom Mixins  */
a {
  color: var(--text-link-color);
  font-weight: 500;
}
a:hover {
  color: var(--text-link-hover-color);
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 10px;
  }
}
*[class*=display] {
  font-weight: 500;
  line-height: 1.3 !important;
}

@media only screen and (min-width: 768px) {
  .display-xl {
    font-size: 5.375rem;
  }
  .display-lg {
    font-size: 4rem;
  }
  .display-md {
    font-size: 3.375rem;
  }
  .display-sm {
    font-size: 2.75rem;
  }
  .display-xs {
    font-size: 2.375rem;
  }
  .display-xxs {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  *[class^=display-][class$=xl] {
    font-size: 3.8rem;
  }
  *[class^=display-][class$=lg] {
    font-size: 3.4rem;
  }
  *[class^=display-][class$=md] {
    font-size: 3rem;
  }
  *[class^=display-][class$=sm] {
    font-size: 2.6rem;
  }
  *[class^=display-][class$=xs] {
    font-size: 2.4rem;
  }
  *[class^=display-][class$=xxs] {
    font-size: 2.2rem;
  }
}
*[data-icon]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.35em;
  display: inline-block;
}

*[data-icon]::before {
  content: url("/images/ui/icon_lg_substack.svg");
}

body {
  background-color: #f0f2f3;
}

.bg-neutral {
  background-color: #f0f2f3;
}
.bg-neutral.light {
  background-color: #f8f9fa;
}
.bg-neutral.dark {
  background-color: #e1e3e4;
}

.text-strong {
  color: #1d1d23;
}

.text-medium {
  color: #717171;
}

.text-weak {
  color: rgba(113, 113, 113, 0.3);
}

.text-white {
  color: #fff;
}

.text-neutral {
  color: #f0f2f3;
}

.text-neutral-light {
  color: #f8f9fa;
}

.text-neutral-dark {
  color: #e1e3e4;
}

.light {
  background-color: #fff;
  color: #717171;
}

.inverse {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  color: #fff;
}

.neutral {
  background-color: #f8f9fa;
  color: #1d1d23;
}

.primary-bg {
  background-color: #555af7;
  color: #fff;
}

.shadow-small {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.shadow-medium {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
}

.shadow-large {
  box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.12);
}

.body-xl-weak {
  font-size: var(--body-xl);
  font-weight: 400;
}

.body-xl-medium {
  font-size: var(--body-xl);
  font-weight: 500;
}

.heading-xl-weak {
  font-size: var(--heading-xl);
  font-weight: 400;
}

h1, .h1, *[class~=heading-xl], .heading-xl-medium {
  font-size: var(--heading-xl);
  font-weight: 500;
}

.heading-xl-strong {
  font-size: var(--heading-xl);
  font-weight: 700;
}

.tab-content p, .tab-content ul, .tab-content ol, .tab-content dl, .body-lg-weak {
  font-size: var(--body-lg);
  font-weight: 400;
}

.body-lg-medium {
  font-size: var(--body-lg);
  font-weight: 500;
}

.heading-lg-weak {
  font-size: var(--heading-lg);
  font-weight: 400;
}

h2, .h2, *[class~=heading-lg], .heading-lg-medium {
  font-size: var(--heading-lg);
  font-weight: 500;
}

.heading-lg-strong {
  font-size: var(--heading-lg);
  font-weight: 700;
}

.body-md-weak {
  font-size: var(--body-md);
  font-weight: 400;
}

.body-md-medium {
  font-size: var(--body-md);
  font-weight: 500;
}

.heading-md-weak {
  font-size: var(--heading-md);
  font-weight: 400;
}

button.card, h3, .h3, *[class~=heading-md], .heading-md-medium {
  font-size: var(--heading-md);
  font-weight: 500;
}

.heading-md-strong {
  font-size: var(--heading-md);
  font-weight: 700;
}

.body-sm-weak {
  font-size: var(--body-sm);
  font-weight: 400;
}

.body-sm-medium {
  font-size: var(--body-sm);
  font-weight: 500;
}

.heading-sm-weak {
  font-size: var(--heading-sm);
  font-weight: 400;
}

h4, .h4, *[class~=heading-sm], .heading-sm-medium {
  font-size: var(--heading-sm);
  font-weight: 500;
}

.heading-sm-strong {
  font-size: var(--heading-sm);
  font-weight: 700;
}

.body-xs-weak {
  font-size: var(--body-xs);
  font-weight: 400;
}

.body-xs-medium {
  font-size: var(--body-xs);
  font-weight: 500;
}

.heading-xs-weak {
  font-size: var(--heading-xs);
  font-weight: 400;
}

h5, .h5, *[class~=heading-xs], .heading-xs-medium {
  font-size: var(--heading-xs);
  font-weight: 500;
}

.heading-xs-strong {
  font-size: var(--heading-xs);
  font-weight: 700;
}

.shadow-small {
  background-color: pink;
}

button.card {
  color: #1d1d23;
}

.tab-content p, .tab-content ul, .tab-content ol, .tab-content dl {
  color: #1d1d23;
}

button.card {
  padding: 0.75rem 24px;
  white-space: nowrap;
}
button.card.active {
  border: 2px solid #555af7;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 768px) {
  .hiw-layout {
    margin-top: 4.5rem;
    justify-content: space-between !important;
  }
  .hiw-layout .nav-pills {
    flex-direction: column;
    gap: 1.5rem 12px;
  }
}
@media only screen and (max-width: 767px) {
  .hiw-layout {
    flex-direction: column;
  }
  .hiw-layout > * {
    max-width: 100% !important;
  }
  .hiw-layout .nav-pills {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.5rem 12px;
    overflow: auto;
    padding: 0.75rem 0;
  }

  button.card {
    min-width: auto;
  }
}
/*# sourceMappingURL=../../maps/pages/how_it_works.css.map */
