<p>Hello <%= supporter.User.name %>,</p>

<p><%= execution.Creator.name %> has activated their policy protection and is requesting to receive your pledged support.</p>

<p>Their reason:</p>
<blockquote><%= execution.reason %></blockquote>

<p>As a supporter, you have 7 days to review this claim and vote on whether it meets the criteria you agreed to when pledging. If more than 50% of supporters disagree, the claim will be cancelled.</p>

<p><a href="<%= siteUrl %>/dashboard">Click here to review and vote</a></p>

<p>Thank you for being part of the Pluribus community.</p> 