<%
_locals.title = "Guild name";
_locals.noNav = true;

var name = '';
if(req.session && req.session.guildSignup && req.session.guildSignup.name) {
	name = req.session.guildSignup.name;
}
if(postedValues.name) {
	name = postedValues.name;
}
%>

<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="rounded border bg-white p-5 my-4">
			<h1 class="display-xxs">What should we call the guild?</h1>
			<div class="heading-sm-weak">
				This will help supporters in finding this guild.
			</div>
			<form method="post">
				<div class="form-floating mt-4">
					<input type="text" name="name" id="name" class="form-control" size="4" value="<%= name %>" placeholder="Guild name" />
					<label for="name">Guild name</label>
					<%- validationMessage('name') %>
				</div>

				<div class="mt-4">
					<div class="form-check">
						<input type="checkbox" name="publicProfile" id="publicProfile" class="form-check-input" value="1" />
						<label for="publicProfile" class="form-check-label">Make the guild public</label>
					</div>
					<%- validationMessage('publicProfile') %>
					<div class="body-sm-weak text-medium mt-2">
						Making the guild public is a really good way to let the public find it. To keep things private, just leave it as private.
					</div>
				</div>

				<div class="mt-5 row">
					<div class="col">
						<button class="btn btn-primary text-black bg-white w-100 py-3 heading-md-medium border-0" name="skip" value="1">Skip for now</button>
					</div>
					<div class="col">
						<button class="btn btn-primary w-100 py-3 heading-md-medium" id="continueBtn" disabled>Continue</button>
					</div>
				</div>
			</form>
			
		</div>
		
	</div>
</div>

<script>
	window.addEventListener('load', function() {
		var name = document.getElementById('name');
		var continueBtn = document.getElementById('continueBtn');

		function inputChange(e) {
			continueBtn.disabled = !name.value;
		}

		name.addEventListener('input', inputChange);

		// In case the user went back, check if anything was previously entered
		inputChange();
	})
	
</script>