module.exports = {
  development: {
    host: "smtp.sendgrid.net",
    port: 587,
    auth: {
      user: "apikey",
      pass: "YOUR_SENDGRID_API_KEY_HERE"
    },
    from: "noreply@example.com"
  },
  production: {
    host: "smtp.sendgrid.net",
    port: 587,
    auth: {
      user: "apikey",
      pass: "YOUR_SENDGRID_API_KEY_HERE"
    },
    from: "noreply@example.com"
  }
} 