<%
_locals.title = "Check your email";
_locals.noNav = true;
%>

<h1 class="visually-hidden">Check Your Email</h1>
<div class="wrapper-half main-content" role="main">
    <div class="form-credentials card">
        <div class="card-body">
            <div class="flow text-center">
				<img src="/images/ui/email-sent.svg" alt="" />

                <p>You should receive a link in a few moments. Please open that link to continue with sign up.</p>

				<div class="fw-bold"><%= locals.email %></div>

                <p id="resendWrap">Didn't get the email? <a href="#" id="resendLink">Resend it</a></p>
                                    
                <a href="/users/login" class="btn btn-primary btn-lg btn-block">Back to login</a>
            </div>
        </div>
    </div>
</div>


<script>
	var resendWrap = document.getElementById('resendWrap');
	var resendLink = document.getElementById('resendLink');
	var resendFeedback = document.createElement('span');
	resendWrap.insertAdjacentElement('afterEnd', resendFeedback);

	resendLink.addEventListener('click', async function(e) {
		e.preventDefault();

		resendWrap.style.display = 'none';
		resendFeedback.innerText = 'Resending...';

		var res = await fetch('/users/resend-activate', {
			method: 'POST'
		});

		resendFeedback.innerText = res.ok ? 'Another activation email was sent.' : 'An error occurred.';		
	});
</script>
