<%
_locals.title = "Check your email";
%>

<div class="row justify-content-center">
	<div class="col-md-6">

		<div class="rounded border p-5 mt-5 bg-white text-center">
			<div class="mb-3">
				<svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M51.7527 14.0246C54.689 13.7221 57.6315 13.3402 60.5803 12.8789C57.4403 9.1537 53.5237 6.16023 49.1049 4.10825C44.6861 2.05626 39.872 0.995406 35 1.00001C41.818 1.00001 47.8803 6.10355 51.7527 14.0246Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M34.9999 1.00001C30.1281 0.995547 25.3143 2.05647 20.8957 4.10845C16.4771 6.16042 12.5607 9.1538 9.4209 12.8788C12.3692 13.3415 15.3118 13.7234 18.2486 14.0245C22.1209 6.10354 28.1818 1.00001 34.9999 1.00001Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M14.2735 41.3368C10.2823 41.4489 6.29105 41.5949 2.29984 41.7748C1.23339 36.9836 1.23339 32.0165 2.29984 27.2253C4.2641 27.3189 6.23629 27.4023 8.19789 27.4677V28.4906C8.19772 28.8488 8.30263 29.1991 8.49963 29.4983C8.69663 29.7975 8.97706 30.0323 9.30619 30.1737C10.8404 30.8347 12.3666 31.477 13.8916 32.0718C13.8448 32.8724 13.8262 33.6815 13.8262 34.5001C13.8223 36.7864 13.9717 39.0705 14.2735 41.3368V41.3368Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M18.2446 14.0252C16.879 16.8425 15.843 19.808 15.1574 22.8629C13.7527 22.1278 12.3466 21.3553 10.9512 20.5461C10.672 20.3855 10.3554 20.3012 10.0333 20.3015C9.71119 20.3018 9.39481 20.3868 9.11591 20.548C8.83701 20.7092 8.60538 20.9408 8.44425 21.2198C8.28311 21.4987 8.19814 21.8151 8.19785 22.1372V27.4677C6.23626 27.4022 4.26406 27.3188 2.2998 27.2253C3.4766 21.9384 5.91888 17.016 9.41698 12.8809C12.3666 13.3369 15.315 13.7181 18.2446 14.0252Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M68.5004 34.4999C68.4999 36.9467 68.2317 39.3861 67.7006 41.7746C65.9046 41.6911 64.1121 41.6196 62.3233 41.5602C61.5235 41.5228 60.7223 41.4948 59.9318 41.4768C60.0346 41.3099 60.1374 41.1322 60.2389 40.956C60.6395 40.2764 61.0668 39.542 61.5515 38.704C61.7164 38.4197 61.8024 38.0965 61.8005 37.7679C61.7986 37.4392 61.709 37.117 61.5408 36.8346L61.3739 36.5555C59.3269 33.1138 58.2947 31.3839 56.4439 27.6531C56.444 27.6518 56.4437 27.6506 56.4433 27.6495C56.4428 27.6483 56.4421 27.6473 56.4412 27.6464C56.4404 27.6456 56.4393 27.6449 56.4382 27.6444C56.437 27.644 56.4358 27.6437 56.4346 27.6438C60.1828 27.5323 63.9416 27.402 67.7006 27.2251C68.2317 29.6136 68.4999 32.053 68.5004 34.4999V34.4999Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M67.7007 27.2252C63.9418 27.4022 60.1829 27.5324 56.4347 27.6439C56.2591 27.2833 55.9676 26.992 55.6068 26.8167C55.5414 26.3046 55.4577 25.8021 55.3558 25.3091C55.3353 25.1146 55.3009 24.9219 55.253 24.7323C55.1689 24.2676 55.0767 23.8022 54.9646 23.3462C54.8444 22.7794 54.7042 22.2206 54.5546 21.6624C54.4251 21.151 54.2769 20.6296 54.1273 20.1275C53.9778 19.6341 53.8202 19.1414 53.6533 18.6573C53.5599 18.3789 53.4664 18.0999 53.3555 17.8301C53.2528 17.523 53.1419 17.2252 53.0204 16.9281C52.6291 15.9234 52.2112 14.9559 51.7559 14.0252C54.6855 13.7181 57.6352 13.3369 60.5835 12.8809C64.0816 17.016 66.5239 21.9383 67.7007 27.2252V27.2252Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M35 67.9998C39.8722 68.0043 44.6864 66.9434 49.1054 64.8914C53.5244 62.8395 57.4413 59.8461 60.5817 56.121C57.632 55.6583 54.689 55.2762 51.7527 54.9746C47.8803 62.895 41.8193 67.9998 35 67.9998Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M14.2687 41.334C10.2802 41.4495 6.29117 41.5961 2.30176 41.7739C3.47457 47.0627 5.91779 51.9863 9.42023 56.119C12.3699 55.6584 15.312 55.2769 18.2465 54.9747C16.1949 50.6716 14.8517 46.0654 14.2687 41.334V41.334Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M67.7007 41.7748C66.5239 47.0617 64.0816 51.9841 60.5835 56.1192C57.6352 55.6632 54.6855 55.282 51.7559 54.9749C52.7361 52.952 53.548 50.8518 54.1834 48.6956C54.3317 48.6956 54.4999 48.7043 54.6668 48.7043H54.6948C55.0195 48.703 55.3383 48.6164 55.619 48.4532C55.8998 48.29 56.1327 48.0559 56.2945 47.7743C57.746 45.2159 58.7048 43.5701 59.9319 41.4771C60.7223 41.4951 61.5235 41.5231 62.3234 41.5605C64.11 41.6172 65.9025 41.6886 67.7007 41.7748Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M18.2462 54.9749C15.3113 55.278 12.3692 55.6594 9.41992 56.1192C12.5595 59.845 16.476 62.839 20.8949 64.8914C25.3137 66.9437 30.128 68.0047 35.0002 68C28.1822 68 22.1213 62.8952 18.2462 54.9749Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M54.1832 48.6954C53.5478 50.8516 52.7359 52.9518 51.7556 54.9747C48.5456 54.6496 45.3422 54.4139 42.1455 54.2677C42.9539 49.9165 43.4664 45.5155 43.6797 41.095C45.0657 41.1043 46.4612 41.1323 47.8566 41.1604C49.1224 41.1791 50.3883 41.2071 51.6528 41.2351C51.7837 41.2351 51.9132 41.2445 52.0427 41.2445C51.1868 42.7053 50.4617 43.9799 49.4095 45.858C49.259 46.1351 49.1802 46.4453 49.1802 46.7606C49.1802 47.0759 49.259 47.3862 49.4095 47.6633C49.5636 47.9375 49.786 48.1673 50.055 48.3302C50.3241 48.4932 50.6307 48.5838 50.9451 48.5933C52.2577 48.6401 53.0015 48.6681 54.1832 48.6954Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M14.2686 41.3341C14.8515 46.0655 16.1948 50.6717 18.2464 54.9749C21.4564 54.6457 24.6607 54.4114 27.8592 54.2719C27.0478 49.9186 26.5352 45.515 26.3249 41.0918C22.3071 41.1438 18.2883 41.2246 14.2686 41.3341Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M55.6066 26.8167C55.3975 26.7112 55.1698 26.6477 54.9363 26.6298C53.5503 26.5275 52.8799 26.4628 51.4939 26.2766C51.1721 26.2344 50.8449 26.2785 50.5457 26.4044C50.2466 26.5302 49.9863 26.7334 49.7914 26.9929C49.6102 27.2326 49.4917 27.5137 49.4469 27.8108C49.1037 27.8208 48.7686 27.8301 48.4241 27.8301C46.8431 27.8675 45.2514 27.8856 43.6797 27.9049C43.4665 23.4844 42.9539 19.0834 42.1455 14.7322C45.3462 14.5833 48.5496 14.3476 51.7556 14.0251C52.211 14.9559 52.6289 15.9233 53.0202 16.9281C53.1416 17.2252 53.2525 17.523 53.3553 17.8301C53.4662 18.0998 53.5596 18.3789 53.6531 18.6573C53.82 19.1413 53.9776 19.634 54.1271 20.1274C54.2767 20.6295 54.4249 21.151 54.5544 21.6623C54.704 22.2205 54.8442 22.7793 54.9644 23.3462C55.0659 23.8022 55.1607 24.2582 55.2528 24.7322C55.3007 24.9218 55.3351 25.1146 55.3556 25.3091C55.4477 25.8025 55.5314 26.305 55.6066 26.8167Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M27.8546 14.7322C27.0462 19.0834 26.5336 23.4844 26.3204 27.905H26.255C22.4631 26.436 18.7579 24.7526 15.1572 22.8629C15.8429 19.808 16.8788 16.8425 18.2445 14.0251C21.4545 14.3503 24.6579 14.586 27.8546 14.7322Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M26.3206 41.0951C22.3107 41.1418 18.295 41.2223 14.2736 41.3368C13.9718 39.0704 13.8223 36.7864 13.8262 34.5C13.8262 33.6815 13.8449 32.8723 13.8917 32.0718C17.9857 33.6995 22.0762 35.1107 26.1631 36.3054C26.1898 37.9331 26.2379 39.5328 26.3206 41.0951Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M26.3203 27.905V27.933C26.298 27.9249 26.2762 27.9155 26.2549 27.905H26.3203Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M43.8386 32.8722V32.732C43.8279 31.83 43.8106 30.946 43.7731 30.0721C43.7731 30.0067 43.7638 29.9412 43.7638 29.8772C43.7545 29.5787 43.7451 29.281 43.7265 28.9838C43.7171 28.6207 43.6984 28.2668 43.6797 27.9049C45.2513 27.8856 46.843 27.8675 48.424 27.8301C48.7685 27.8301 49.1037 27.8208 49.4468 27.8108C49.3891 28.1576 49.4346 28.5138 49.5777 28.8349C50.5271 31.0208 51.2242 32.4623 52.0427 34.0259C49.2799 33.7562 46.5452 33.3717 43.8386 32.8722Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M52.1642 41.0296C52.1268 41.1043 52.0801 41.1697 52.0427 41.2446C51.9132 41.2446 51.7837 41.2352 51.6528 41.2352C50.3882 41.2072 49.1223 41.1792 47.8565 41.1605C46.4611 41.1324 45.0657 41.1044 43.6797 41.0951C43.6984 40.7699 43.7171 40.4441 43.7265 40.1096C46.5266 40.5181 49.336 40.8166 52.1642 41.0296Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M18.249 14.0246C21.4564 14.3544 24.6598 14.5889 27.8592 14.7283C29.4695 6.4053 32.0667 1 35.0004 1C28.1823 1 22.1214 6.10353 18.249 14.0246Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M27.859 54.2717C24.6596 54.4093 21.4553 54.6436 18.2461 54.9747C22.1212 62.8951 28.1821 67.9999 35.0001 67.9999C32.0665 67.9999 29.4666 62.5946 27.859 54.2717Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M51.7527 54.9747C48.5439 54.6456 45.3405 54.4113 42.1425 54.2717C40.5322 62.5946 37.9323 67.9999 35 67.9999C41.8193 67.9999 47.8803 62.8951 51.7527 54.9747Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M42.1425 14.7283C45.3432 14.586 48.5466 14.3514 51.7527 14.0246C47.8803 6.10353 41.818 1 35 1C37.9323 1 40.5322 6.4053 42.1425 14.7283Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M42.1431 54.2717C37.3814 54.0634 32.6201 54.0634 27.8594 54.2717C29.467 62.5946 32.0669 67.9999 35.0005 67.9999C37.9328 67.9999 40.5327 62.5946 42.1431 54.2717Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M43.7263 40.1095C43.7169 40.4439 43.6982 40.7698 43.6795 41.0949C37.8937 41.0295 32.1074 41.0295 26.3207 41.0949C26.2379 39.5326 26.1898 37.9329 26.1631 36.3052C31.9194 37.9901 37.7888 39.2614 43.7263 40.1095V40.1095Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M43.8381 32.7321V32.8723C37.8563 31.7813 31.991 30.1275 26.3203 27.933V27.905C32.1062 27.9705 37.8925 27.9705 43.6792 27.905C43.6979 28.2669 43.7166 28.6208 43.726 28.9839C43.7446 29.2811 43.754 29.5788 43.7633 29.8773C43.7633 29.9413 43.7727 30.0068 43.7727 30.0722C43.8101 30.9461 43.8274 31.8301 43.8381 32.7321Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M27.8594 14.7283C32.621 14.9365 37.3823 14.9365 42.1431 14.7283C40.5327 6.4053 37.9328 1 35.0005 1C32.0669 1 29.4697 6.4053 27.8594 14.7283Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M43.6765 27.9036C43.4655 23.482 42.9528 19.08 42.1422 14.7283C37.3805 14.9365 32.6193 14.9365 27.8585 14.7283C27.0472 19.0799 26.5346 23.482 26.3242 27.9036C32.1088 27.9731 37.8928 27.9731 43.6765 27.9036Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M26.3242 41.0918C26.5344 45.515 27.0471 49.9186 27.8585 54.2718C32.6202 54.0635 37.3814 54.0635 42.1422 54.2718C42.953 49.9185 43.4656 45.5149 43.6765 41.0918C37.8906 41.0283 32.1065 41.0283 26.3242 41.0918Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</div>

			You should receive a link in a few moments. Please open
			that link to continue with sign up.

			<div class="fw-bold my-4"><%= locals.email %></div>

			<div class="my-4">
				<span id="resendWrap">Didn't get the email? <a href="#" id="resendLink">Resend it</a></span>
			</div>

			<a href="/users/login" class="btn btn-primary w-100 py-3">Back to login</a>
		</div>

	</div>
</div>

<script>
	var resendWrap = document.getElementById('resendWrap');
	var resendLink = document.getElementById('resendLink');
	var resendFeedback = document.createElement('span');
	resendWrap.insertAdjacentElement('afterEnd', resendFeedback);

	resendLink.addEventListener('click', async function(e) {
		e.preventDefault();

		resendWrap.style.display = 'none';
		resendFeedback.innerText = 'Resending...';

		var res = await fetch('/users/resend-activate', {
			method: 'POST'
		});

		resendFeedback.innerText = res.ok ? 'Another activation email was sent.' : 'An error occurred.';		
	});
</script>
