<h1>Home</h1>

<% if(pledges) { %>
	<h3>Your pledges</h3>
	<ul>
	<% pledges.forEach(pledge => { %>
		<li><a href="/creators/<%= pledge.creatorId %>"><%= pledge.Creator.name %></a> ($<%= pledge.amount %>)</li>
	<% }); %>
	</ul>
<% } %>