<h1>Home</h1>

<% if(following) { %>
	<h3>Following</h3>
	<ul>
	<% following.forEach(follow => { %>
		<li><a href="/creators/<%= follow.creatorId %>"><%= follow.Creator.name %></a></li>
	<% }); %>
	</ul>
<% } %>