<%
_locals.title = 'Log in';
_locals.nav = 'login';
%>
<h1 class="text-center">Log in to Pluribus</h1>

<div class="row justify-content-center mt-4">
	<div class="col col-md-4">
		<form class="login-form" method="post">
			<div class="mb-3">
				<label class="form-label" for="email">Email</label>
				<input class="form-control" name="email" type="text" />
			</div>

			<div class="mb-3">
				<label class="form-label" for="password">Password</label>
				<input class="form-control" name="password" type="password" />
			</div>

			<% if(locals.errors) { %>
				<div class="text-danger fw-bold my-2">Please check your email address and password.</div>
			<% } %>

			<button class="btn btn-primary">Log in</button>

		</form>

		<div class="my-4">
			<a href="/users/password">Forget your password?</a>
		</div>
	</div>
</div>