<%
_locals.title = "Password Assistance";
_locals.noNav = true;
%>

    <h1 class="visually-hidden">Password Assistance</h1>
		<div class="wrapper-half main-content" role="main">
			<form method="post" class="form-credentials card">
          <fieldset class="card-body">

              <legend>Password Assistance</legend>

                <div class="flow">
									<div class="form-floating">
										<input class="form-control" name="email" type="text" placeholder="Your email" />
										<label class="form-label" for="email">Your email</label>
									</div>

									<button class="btn btn-primary btn-lg btn-block">Reset password</button>

                </div>
				</fieldset>
			</form>
		</div>
