<%
_locals.title = "Password Assistance";
%>

<h1 class="text-center">Password Assistance</h1>

<div class="row justify-content-center mt-4">
	<div class="col col-md-4">
		<form method="post">
			<div class="mb-3">
				<label class="form-label" for="email">Email</label>
				<input class="form-control" name="email" type="text" />
			</div>

			<button class="btn btn-primary">Request a password reset</button>

		</form>
	</div>
</div>