<%
_locals.title = "Reset your password";
%>

<h1 class="text-center">Reset your password</h1>

<div class="row justify-content-center mt-4">
	<div class="col col-md-4">
		<form method="post">
			<div class="mb-3">
				<label class="form-label" for="password">New password</label>
				<input class="form-control" name="password" type="password" autocomplete="new-password" />
				<%- validationMessage('password', locals) %>
			</div>

			<button class="btn btn-primary">Set new password</button>

		</form>
	</div>
</div>