<%
_locals.title = "Reset your password";
%>
<link rel="stylesheet" href="/css/dynamic-password-validation.css"/>

<div class="row justify-content-center">
	<div class="col-md-6">

		<div class="rounded border p-5 mt-5 bg-white">
			<h1 class="mb-4 display-xxs">Reset password</h1>
			
			<form method="post" id="resetPasswordForm">
				<%/* Include email as a hidden text input so that password manager knows which login email to link to. */%>
				<input type="text" name="email" value="<%= email %>" style="display:none;" />
				
				<div class="form-floating mb-3">
					<input class="form-control" id="password" name="password" type="password" autocomplete="new-password" />
					<label class="form-label" for="password">New password</label>
					<%- validationMessage('password') %>
					<div class="invalid-feedback" id="passwordDynamicFeedback">
						Please enter a stronger password
					</div>

					<div class="validation-feedback small" id="feedbackLowercase">One lowercase</div>
					<div class="validation-feedback small" id="feedbackUppercase">One uppercase</div>
					<div class="validation-feedback small" id="feedback8Chars">8 characters min.</div>
				</div>
	
				<button class="btn btn-primary w-100 py-3">Set new password</button>
			</form>

		</div>

	</div>
</div>

<script src="/js/forms.js"></script>
<script>
	var password = document.getElementById('password');
	var resetPasswordForm = document.getElementById('resetPasswordForm');

	forms.addDynamicPasswordValidation(resetPasswordForm, password);
	forms.addPasswordVisibilityToggle(password);
</script>