<% 
_locals.title = 'Sign Up';
_locals.noNav = true;
%>

<h1 class="visually-hidden">Get started with Pluribus.</h1>
<div class="wrapper-half main-content" role="main">
    <form class="form-credentials card" method="post" onsubmit="document.body.classList.add('page-loading');">
        <fieldset class="flow card-body">
            <legend>Get started with Pluribus.</legend>

            <div class="form-floating">
                <input class="form-control" type="text" name="email" placeholder="name@example.com" value="<%= postedValues.email %>" />
                <label class="form-label" for="email">Your email</label>
                <%- validationMessage('email') %>
            </div>

            <button class="btn btn-primary w-100 py-3">Create your free account</button>

            <p>
                Already have an account? <a href="/users/login<%= locals.inviteCode ? "?invite=" + locals.inviteCode : ""%>">Log in</a>.
            </p>

        </fieldset>
    </form>
</div>
