<h1>Generate a password hash</h1>
<form method="post">
	<div class="mb-4">
		<label for="password">Enter a password to hash</label>
		<input type="text" name="password" id="password" class="form-control" autocomplete="new-password" />
	</div>

	<button class="btn btn-primary">Generate hash</button>
</form>